---
permalink: /assets/json/connect_resources.json
---
connects([
{% for connect in site.data.connects %}
    {
        "id": "{{ connect.id }}",
        {% if connect.session_id %}"session_id": "{{ connect.session_id }}",{% endif %}
        "title": {{ connect.long-name | smartify | jsonify }},
        "url": "https://connect.linaro.org/resources/{{ connect.id | downcase }}",
        "start-date": "{{ connect.start-date }}",
        "end-date": "{{ connect.end-date }}",
        {% if connect.speakers and page.speakers != "None" %}
        "flickr-albums": {% for album in connet.flickr-albums %}
        {
            "name": "{{speaker.name}}",
            "job-title": "{{speaker.job-title}}",
            "company": "{{speaker.company}}"
        }
    }{% unless forloop.last == true %},{% endunless %}
{% endfor %}
]);