_site/
.asset-cache
.sass-cache
.jekyll-cache
# From debugging
.bash_history
node_modules
.gemfiles/
.bundle/
.jekyll-metadata
resources/yvr18/resources.json
.gems
staging.connect.linaro.org
production.connect.linaro.org
