---
layout: home
title: Linaro Connect Bangkok 2019 (BKK19)
description: |-
    Linaro Connect Bangkok 2019 (BKK19) will take place on Monday 1 April to Friday 5 April 2019
---
<div class="container-fluid" id="content-container">
    <div class="row">
            <div class="alert alert-info connect alert-dismissible fade show" role="alert">
                <strong>Linaro Connect Bangkok 2019</strong> Registration is opening soon!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
    </div>
    <div class="row flex-row" id="intro-row">
        <div class="col-xs-12 col-sm-4 no-padding connect-video">
            <div id="video-holder">
                <img id="video-skeleton" class="img-responsive lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                 data-src="/assets/images/content/video_placeholder.png" />
                <div class="embed-responsive embed-responsive-16by9 hidden-iframe" id="video-embed">
                    <iframe class="hidden-iframe" data-src="https://www.youtube.com/watch?v=06oC6Y76p2I" width="100%" height="500" frameborder="0" marginwidth="5"
                        marginheight="5" scrolling="auto" id="youtube-iframe"></iframe>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 no-padding about-connect flex-col">
            <p>
                Since 2010, Linaro Connect has been the event to attend if you are interested in open source software development for Linux,
                tools and the various vertical segment ecosystems that use Arm processors. While the event continues to evolve, one thing
                stays the same – it revolves around engineering and will consist of a mix of industry keynotes, engineering presentations
                and discussions, and collaborative engineering hacking sessions.

                Linaro Connect Vancouver has now ended. The next Linaro Connect will be in Bangkok, Thailand from April 1-5, 2019. Details on registration will be <a href="/register/">available soon</a>.
           </p>
           <p id="buttons" class="text-center">
                <a href="/about/" class="btn btn-linaro-home fly" >Learn More</a>
            </p>
            
        </div>
    </div>
    <div class="row" id="connect-row">
        <div class="owl-carousel owl-theme" id="connect-event-slider">
            {% assign connect_events = site.data.connects %}
            {% for event in connect_events %}
            <a href="/resources/{{event.id | downcase }}" target="_blank">
                <div class="item event-item fly">
                    <div class="event-image lazyload" style="background: url('/assets/images/content/{{event.placeholder}}') no-repeat center center;
                        background-size: contain; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain;">
                        <div class="event-details-block">
                            <h3>{{event.long-name}}</h3> 
                            <span class="date start">
                                {{event.start-date | date: "%A "}}{% assign d = event.start-date | date: "%-d" %} {% case d %} {% when '1' or '21' or
                                '31' %}{{ d }}st {% when '2' or '22' %}{{ d }}nd {% when '3' or '23' %}{{ d }}rd {% else %}{{ d }}th {% endcase %}
                                {{event.start-date | date: "%B, %Y"}}
                            </span>
                            -
                            <span class="date end">
                                {{event.end-date | date: "%A "}}{% assign d = event.end-date | date: "%-d" %} {% case d %} {% when '1' or '21' or '31'
                                %}{{ d }}st {% when '2' or '22' %}{{ d }}nd {% when '3' or '23' %}{{ d }}rd {% else %}{{ d }}th {% endcase %} {{event.end-date
                                | date: "%B , %Y"}}
                            </span>   
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="row flex-row" id="sponsorship-row">
        <div class="col-xs-12 col-sm-8 no-padding about-connect flex-col">
            <h3>Sponsor</h3>
            <p>
                Linaro Connect Bangkok 2019 will be the 25th Connect since Linaro started in June 2010.
                Hundreds of the world’s best Linux on ARM developers come to Linaro Connect each time because
                they know it is the leading place to meet with the global community and to learn about what is
                going on in the industry.
                
                Sponsorship of the event puts your brand in front of all the event attendees – both the 400+
                on-site and all those who participate remotely, as well as the thousands who view the website
                and social media before, during and after the event.
            </p>
            <p id="buttons" class="text-center">
                <a href="/sponsors/" class="btn btn-linaro-home fly" >Sponsor</a>
            </p>
        </div>
        <div class="col-xs-12 col-sm-4 no-padding sponsor-media">
            <div class="owl-carousel owl-theme sponsorship-carousel">
                {% assign sponsorship_images = site.data.settings.featured_images | where: "id", "sponsorship" | first %}
                {% for image in sponsorship_images.images %}
                    <div class="activity-block item">
                        <div class="sponsor-image" style="background-image: url({{image}})"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
        </div>
    {% include sections/previous-connect-links.html %}
</div>



