---
layout: jumbotron
css-package: home
js-package: home
title: Linaro Connect Bangkok 2019 (BKK19)
description: |-
    Linaro Connect Bangkok 2019 (BKK19) will take place on Monday 1 April to Friday 5 April 2019
featured-images:
    - /assets/images/content/hkg18-sponsor-thumb-1.jpg
    - /assets/images/content/yvr18-sponsor-thumb-1.jpg
    - /assets/images/content/yvr18-sponsor-thumb-2.jpg
jumbotron:
    image: /assets/images/content/bkk19-vertical-white.png
    title: Bringing the Arm ecosystem together
    description: ""
    video: 
        source: https://s3.amazonaws.com/static-linaro-org/connect/assets/videos/LinaroConnectPromoVideo.mp4
        poster: /assets/images/content/bkk19-bg.jpg
    animation: fade
---
<div class="row flex-row upcoming-connect padded-row-30">
    <div class="container">
        <h3 class="home-text text-white">Join us in Bangkok, Thailand from April 1-5, 2019</h3> <a href="/register/" class="btn btn-linaro-home fly">Register</a>
    </div>
</div>
<div class="row flex-row intro-row content-row padded-row-30">
    <div class="container">
        <p class="home-text text-white">
            Every six months, leading hardware and software players in the Arm ecosystem come together at Linaro Connect to solve problems, identify issues and plan existing and future engineering collaboration. 
        </p>
        <p class="home-text text-white">
            For a week, attendees enjoy a mix of industry keynotes, engineering discussions and collaborative hacking sessions. If you are interested in open source software development for Linux, tools and the various vertical segment ecosystems that use Arm processors, then this is the place to be.
        </p>
    </div>
</div>
<div class="row flex-row padded-row-30 content-row" id="sponsorship-row">
    <div class="container text-center">
        <h3>Sponsor Linaro Connect</h3>
        <p class="home-text">
            Linaro Connect Bangkok 2019 will be the 25th Connect since Linaro started in June 2010.
            Hundreds of the world’s best Linux on ARM developers come to Linaro Connect each time because
            they know it is the leading place to meet with the global community and to learn about what is
            going on in the industry.
            
            Sponsorship of the event puts your brand in front of all the event attendees – both the 400+
            on-site and all those who participate remotely, as well as the thousands who view the website
            and social media before, during and after the event.
        </p>
        <div class="sponsors">
            {% for sponsor in site.data.previous-sponsors %}
                <div class="col-xs-6 col-sm-3 sponsor-col">
                    <a href="{{sponsor.url}}">
                        <img class="img-responsive lazyload" data-src="/assets/images/sponsors/{{sponsor.image}}"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{sponsor.name}} logo"/>
                    </a>
                </div>
            {% endfor %}
        </div>
        <p id="buttons" class="text-center">
            <a href="/sponsors/" class="btn btn-linaro-home">More details</a>
        </p>
    </div>
</div>
<div class="row content-row" id="connect-row">
    <div class="container">
        <div class="owl-carousel owl-theme" id="connect-event-slider">
            {% assign connect_events = site.data.connects %}
            {% for event in connect_events %}
            <a href="/resources/{{event.id | downcase }}" target="_blank">
                <div class="item event-item">
                    <img class="event-image lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
                    data-src="/assets/images/content/{{event.placeholder}}" alt="{{event.long-name}} Image"/>
                    <div class="event-details-block">
                        <h3>{{event.long-name}}</h3> 
                        <span class="date start">
                            {{event.start-date | date: "%A "}}{% assign d = event.start-date | date: "%-d" %} {% case d %} {% when '1' or '21' or
                            '31' %}{{ d }}st {% when '2' or '22' %}{{ d }}nd {% when '3' or '23' %}{{ d }}rd {% else %}{{ d }}th {% endcase %}
                            {{event.start-date | date: "%B, %Y"}}
                        </span>
                        -
                        <span class="date end">
                            {{event.end-date | date: "%A "}}{% assign d = event.end-date | date: "%-d" %} {% case d %} {% when '1' or '21' or '31'
                            %}{{ d }}st {% when '2' or '22' %}{{ d }}nd {% when '3' or '23' %}{{ d }}rd {% else %}{{ d }}th {% endcase %} {{event.end-date
                            | date: "%B , %Y"}}
                        </span>   
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row content-row" id="connect-row">
    <div class="container">
        <div class="owl-carousel owl-theme" id="connect-event-slider">
            {% assign connect_events = site.data.connects %}
            {% for event in connect_events %}
            <a href="/resources/{{event.id | downcase }}" target="_blank">
                <div class="item event-item">
                    <img class="event-image lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
                    data-src="/assets/images/content/{{event.placeholder}}" alt="{{event.long-name}} Image"/>
                    <div class="event-details-block">
                        <h3>{{event.long-name}}</h3> 
                        <span class="date start">
                            {{event.start-date | date: "%A "}}{% assign d = event.start-date | date: "%-d" %} {% case d %} {% when '1' or '21' or
                            '31' %}{{ d }}st {% when '2' or '22' %}{{ d }}nd {% when '3' or '23' %}{{ d }}rd {% else %}{{ d }}th {% endcase %}
                            {{event.start-date | date: "%B, %Y"}}
                        </span>
                        -
                        <span class="date end">
                            {{event.end-date | date: "%A "}}{% assign d = event.end-date | date: "%-d" %} {% case d %} {% when '1' or '21' or '31'
                            %}{{ d }}st {% when '2' or '22' %}{{ d }}nd {% when '3' or '23' %}{{ d }}rd {% else %}{{ d }}th {% endcase %} {{event.end-date
                            | date: "%B , %Y"}}
                        </span>   
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% include sections/previous-connect-links.html %}

