---
permalink: /assets/json/sfo17/data.json
---
[{% for post in site.categories.sfo17 %}{
        "id": "{{ post.id }}",
        {% if post.session_id %}"session_id": "{{ post.session_id }}",{% endif %}
        {% if post.categories %}"event_id": "{{ post.categories }}",{% endif %}
        "url": "{{ site.url }}{{ post.url }}",
        "summary": {{ post.excerpt | strip_html | smartify | jsonify }},
        "date_published": "{{ post.date }}",
        {% if post.speakers and post.speakers != "None" %}
        "speakers": [{% for speaker in post.speakers %}
        {
            "name": "{{speaker.name}}",
            "job-title": "{{speaker.job-title}}",
            "company": "{{speaker.company}}"
        }
        {% unless forloop.last == true %},{% endunless %}
        {% endfor %}],
        {% endif %}
        {% if post.slideshare_presentation_url != "None" %}
        "slideshare_presentation_url": "{{post.slideshare_presentation_url}}",
        {% endif %}
        {% if post.youtube_video_url != "None" %}
        "youtube_video_url": "{{post.youtube_video_url}}",
        {% endif %}
        {% if post.amazon_s3_presentation_url != "None" %}
        "amazon_s3_presentation_url": "{{post.amazon_s3_presentation_url}}",
        {% endif %}
        {% if post.amazon_s3_video_url != "None" %}
        "amazon_s3_video_url": "{{post.amazon_s3_video_url}}",
        {% endif %}
        {% if post.session_track %}
        "tracks": "{{post.session_track}}",
        {% endif %}
        {% if post.image %}
        "thumbnail": "{{site.url}}{{post.image}}",
        {% endif %}
        "title": {{ post.title | smartify | jsonify }}
    }{% unless forloop.last == true %},{% endunless %}{% endfor %}]
