<div class="row" id="previous-links">
    <div class="container no-padding" style="margin-top:30px;">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>HKG18 Resources</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="block" style="background: linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ), url({% asset_path 'hkg18-photo-demo-friday.jpg' %});  background-size: cover; background-position-y: -100px;">
                    <h4>Photos</h4>
                    <p>
                        See our photos from Connect.
                    </p>
                    <a href="https://www.flickr.com/photos/linaroorg/albums/72157664795733267" class="btn btn-connect">View on Flickr</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block" style="background: linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ), url({% asset_path 'hkg18-resources.jpg' %});  background-size: cover; background-position-y: -100px;">
                    <h4>HKG18 Resources</h4>
                    <p>
                        View the HKG18 resources.
                    </p>
                    <a href="/resources/hkg18/" class="btn btn-connect">View Resources</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block" style="background: linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ), url({% asset_path 'hkg18-photo-demo-friday.jpg' %});  background-size: cover; background-position-y: -100px;">
                    <h4>HKG18 Opening Keynote</h4>
                    <p>
                        and announcments
                    </p>
                    <a href="/resources/hkg18/hkg18-100k1/" class="btn btn-connect">Watch Keynote</a>
                </div>
            </div>
        </div>
    </div>
</div>
