<div class="row sponsors" id="previous-sponsors">
    <div class="container no-padding" style="margin-top:30px;">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Thanks to our HKG18 sponsors</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="sponsor">
                    <div class="img-responsive" style="background-image: url({% asset_path 'arm.jpg' %});"></div>
                    <p>
                        Lead Sponsor
                    </p>
                    <a href="https://www.arm.com">www.arm.com</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sponsor">
                    <div class="img-responsive" style="background-image: url({% asset_path 'fujitsu.jpg' %});"></div>
                    <p>
                        T-shirt Giveaway Sponsorship
                    </p>
                    <a href="http://www.fujitsu.com">www.fujitsu.com</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sponsor">
                    <div class="img-responsive" style="background-image: url({% asset_path 'redhat.jpg' %});"></div>
                    <p>
                        Giveaway Sponsor
                    </p>
                    <a href="https://www.redhat.com">www.redhat.com</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sponsor">
                    <div class="img-responsive" style="background-image: url({% asset_path 'hoperun.jpg' %});"></div>
                    <p>
                        Exhibition Table Sponsor
                    </p>
                    <a href="http://www.hoperun.net">www.hoperun.net</a>
                </div>
            </div>
        </div>
    </div>
</div>
