<div class="row" id="previous-links">
    <div class="container no-padding" style="margin-top:30px;">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>YVR18 Resources</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="block" style="background: linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ), url(/assets/images/content/yvr18-group-photo.jpg);  background-size: cover; background-position-y: -100px;">
                    <h4>Photos</h4>
                    <p>
                        See our photos from Connect.
                    </p>
                    <a href="https://www.flickr.com/photos/linaroorg/sets/72157695573962940" class="btn btn-connect">View on Flickr</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block" style="background: linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ), url(/assets/images/content/yvr18-group-photo.jpg);  background-size: cover; background-position-y: -100px;">
                    <h4>YVR18 Resources</h4>
                    <p>
                        View the YVR18 resources.
                    </p>
                    <a href="/resources/yvr18/" class="btn btn-connect">View Resources</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block" style="background: linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ), url(/assets/images/content/yvr18-group-photo.jpg);  background-size: cover; background-position-y: -100px;">
                    <h4>YVR18 Opening Keynote</h4>
                    <p>
                        and announcments
                    </p>
                    <a href="/resources/yvr18/yvr18-100k/" class="btn btn-connect">Watch Keynote</a>
                </div>
            </div>
        </div>
    </div>
</div>
