{% assign connect_code = "YVR18" %}



<div class="row" id="speakers-row">
    <div class="container no-padding" style="margin-top:30px;">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>{{connect_code}} Speakers</h2>
            </div>
        </div>
        <div class="row">
            
            {% for speaker in site.speakers %}
                {% assign current_keynotes = site.keynotes | where: event_code, connect_code %}
                {% assign current_keynote = current_keynotes | where: 'speaker', speaker.name %}
                {{current_keynote}}
                <div class="col-md-3">
                    <div class="speaker-block">
                        <div class="img-responsive speaker-image" style="background-image: url({% asset_path '{{speaker.image}}' %});"></div>
                        <span class="keynote_time">{{current_keynote.day}}: {{current_keynote.start_time}} - {{current_keynote.finish_time}}</span>
                        <h3 class="speaker-name">
                            {{speaker.name}}
                        </h3>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
