{% assign connect_code = "YVR18" %}

<div class="row" id="speakers-row">
    <div class="container no-padding" style="margin-top:30px;">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>{{connect_code}} Speakers</h2>
            </div>
        </div>
        <div class="row">
            {% assign current_keynotes = site.keynotes | where: "event_code", connect_code | where: "keynote", "true"%}
            {% for keynote in current_keynotes %}
                {% assign speaker_name = keynote.speaker %}
                {% assign speaker = site.speakers | where: "name", speaker_name %}
                <div class="col-md-3">
                    <div class="speaker-block">
                        <div class="img-responsive speaker-image" style=""></div>
                        <span class="keynote_time">{{keynote.day}}: {{keynote.start_time}} - {{keynote.finish_time}}</span>
                        <h3 class="speaker-name">
                            {{speaker.name}}
                        </h3>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
