.col-sm-9.session-info {
    border-top: 1px solid #eee;
    padding-top: 25px;
}

.col-sm-3.speaker-info {
    border-top: 1px solid #eee;
    padding-top: 25px;
}

.arm-hpc-session:nth-child(even) {
    background-color: #f5faff;
}

.arm-hpc-session {
    overflow: auto;
}

p.talk-abstract {
    margin-top: 12px;
}

h1#featured-image-blog-title {
    color: white !important;
    margin-bottom: 50px;
    padding-top: 40px;
}

.row.blog_content_area.main-cont {
    padding-top: 20px;
}

.speakers-arm-hpc p.list-group-item-text {
    margin-bottom: 0 !important;
}

.blog-author-image {
    background-position: center center;
}
@media(max-width:767px) {
    .blog-author-image {
        height: 50px;
        width: 50px;
    }
}

#content-container .blog_post {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#content-container .row.blog_post picture {
    top: 0;
}

#content-container .blog_post img.img-responsive.center-block {
    padding: 0;
}

#content-container .blog_post img.img-responsive.center-block.lazyloaded {
    padding: 0;
}

.featured_blog_post .col-md-9.col-sm-9.col-xs-9 {
    color: #323232;
}

.featured_blog_post:hover {
    background-color: #f4f4f4;
}

.blog-sidebar .panel-primary {
    border: 1px solid #eaeaea;
}
.resource-sidebar-block.col-xs-4 {
    background-color: $breadcrumb-background-color;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
.resources-stats {
    margin-bottom: 20px;
}
.resources-search input {
    margin-bottom: 10px;
    height: 40px;
    outline: none;
}