#wrapper {
    overflow: hidden;
    .blog_image_header::before {
        content: "";
    }
}
#gdpr-cookie-message {
    top: 0;
    bottom: unset;
    left: 0;
    max-width: 100%;
    right: 0;
    margin: 20px;
}
