#wrapper {
    overflow: hidden;
    .blog_image_header::before {
        content: "";
    }
}
#gdpr-cookie-message {
    top: 0;
    bottom: unset;
    left: 0;
    max-width: 100%;
    right: 0;
    margin: 20px;
}
// Mailchimp Signup form.
div#mailchimp_signup {
    padding: 50px 0;
    background-color: #f2f2f2;
}
div#mc_embed_signup {
    background: transparent;
}
