.keynote{
    img{
        object-fit: cover;
        height: 200px;
        width: 200px;
    }
}
div#keynotes {
    background-color: #313131;
}

#keynotes .keynote h3 {
    text-align: center;
    font-size:20px;
    color: #ececec;
}

#keynotes a.btn.btn-primary.more-info.text-center {
    display: block;
    width: 100px;
    border: 1px solid #1b1b1b;
    margin: auto auto;
}
#keynotes a.btn.btn-primary:hover {
    color:white;
}
#keynotes img {
    border:1px solid #3a3a3a;
    transition: all 200ms ease;
}
#keynotes img:hover {
   transform: scale(1.1);
}