span.count-to-number {
    display:  block;
    text-align:  center;
    font-size: 48px;
    color: #333333;
}
span.stats-title {
    display:  block;
    text-align:  center;
    font-size: 28px;
    color: #333333;
}
.stats.col-sm-4 {
    margin: 30px 0;
}
.resource-image {
    height: 200px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.resource-block {
    display: none;
}
h3.connect-title.text-center {
    font-size: 21px;
    margin-bottom: 20px;
}
.btn.flickr-albums {
    background-color: #333;
    color:white;
    margin-bottom:10px;
    transition: all 500ms ease;
}
.btn.flickr-albums:hover {
    background-color: #000;
    color:white !important;
}

#all-resources a.btn.btn-primary.center-block {
    background-color:#333;
    color:white;
    transition: all 500ms ease;

}
#all-resources a.btn.btn-primary.center-block:hover{
    background-color:#000;
    color:white;   
}
.date-area {
    padding: 3px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 130px;
}
.resource-sidebar-block.col-xs-4 {
    background-color: #d8d8d8;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #363636;
    border: 1px solid #cccccc;
}
#all-resources ul.dropdown-menu {
    margin-top: 0px;
}
#all-resources button.btn.btn-default.dropdown-toggle {
    color: white;
}
a.connect-map-location.btn.btn-primary {
    background-color: #333333;
    color: white;
}
a.connect-map-location.btn.btn-primary:hover {
    color:white !important;
    background-color:#000;
}
#wrapper .col-md-4.col-sm-4.col-xs-12 {
    padding-bottom: 50px;
}
.resource-block a.btn {
    margin-bottom: 10px;
}
.resource-block {
    height: 470px;
    padding: 20px;
    overflow: hidden !important;
    background-color: #e6e6e6;
    overflow: auto;
    margin-left: 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
    margin-bottom: 10px;
}

@media(min-width: $screen-sm-min){

}