.resource-info i.icon-youtube {
    color: black;
}
.resource-info i.icon-linkedin {
    color: black;
}
.resource-info .col-xs-4 {
    padding-left:5px;
    padding-top:10px;
    text-align:center;
    border-top:1px solid #f1f1f1;
    margin-top:10px;
}