
.all-resources {
    .checkbox {
        padding: 10px;
        display:inline-block;
        input {
            margin-right:10px; 
            height:20px;
            width:20px;
            top:5px;
        }
    }
    input#search-query {
        margin-bottom: 10px;
        text-align:center;
    }
    div#table-container {
        height: 400px;
        // Table filter carets
        th.filter[data-toggle='asc'] > span.caret {
            -moz-transform: scaleY(-1);
            -o-transform: scaleY(-1);
            -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
            filter: FlipV;
            -ms-filter: "FlipV";
        }
        th.filter[data-toggle='desc'] > span.caret {
            -moz-transform: scaleY(1);
            -o-transform: scaleY(1);
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
            filter: none;
            -ms-filter: none;
        }
        #results img.img-responsive {
            width: 20px;
        }
        #results img.img-responsive {
            width: 40px;
        }
        th.filter {
            
            transition: all 100ms ease;
            &::hover {
                background-color:#5a7b00;
                cursor: pointer;
            }
        }
    }
}
