span.count-to-number {
  display: block;
  text-align: center;
  font-size: 48px;
  color: #333333;
}
span.stats-title {
  display: block;
  text-align: center;
  font-size: 28px;
  color: #333333;
}
.stats.col-sm-4 {
  margin: 30px 0;
}
.resource-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
h3.connect-title.text-center {
    font-size: 16px;
    margin-bottom: 20px;
}
.btn.flickr-albums {
  background-color: #333;
  color: white;
  margin-bottom: 10px;
  transition: all 500ms ease;
}
.btn.flickr-albums:hover {
  background-color: #000;
  color: white !important;
}

#all-resources a.btn.btn-primary.center-block {
  background-color: #333;
  margin-bottom: 0px;
  color: white;
  transition: all 500ms ease;
}
#all-resources a.btn.btn-primary.center-block:hover {
  background-color: #000;
  color: white;
}
.date-area {
    padding: 3px;
    margin-bottom: 10px;
    margin-top: 40px;
    height: 53px;
    font-size: 15px;
}
.resource-sidebar-block.col-xs-4 {
    background-color: #2f2f2f;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
}
#all-resources ul.dropdown-menu {
    margin-top: -10px;
    z-index: 99999 !important;
    position: absolute;
    background-color: #333333;
}
#all-resources button.btn.btn-default.dropdown-toggle {
  color: white;
  border-radius:0px;
}
a.connect-map-location.btn.btn-primary {
  background-color: #333333;
  color: white;
}
a.connect-map-location.btn.btn-primary:hover {
  color: white !important;
  background-color: #000;
}
#wrapper .col-md-4.col-sm-4.col-xs-12 {
  padding-bottom: 50px;
}
.resource-block a.btn {
  margin-bottom: 10px;
}
.resource-block {
  overflow: visible !important;
  background-color: #252525;
  overflow: auto;
  margin-left: 5px;
  border: 1px solid #000;
  margin-right: 5px;
  margin-bottom: 10px;
}
div#all-resources {
  z-index: 2;
  position: relative;
  background-color: white;
}
.container-fluid.sponsors {
  z-index: 2;
  background-color: white;
  position: relative;
  margin-bottom: 0px;
}
.resource-title.col-xs-12.no-padding {
    margin-bottom: 18px;
    border-bottom: 1px solid black;
}

.resource-block{
    transition: all 100ms ease;
}
.resource-block img {
    filter: grayscale(1);
}
.resource-block:hover img {
    filter:unset !important;
}
span.session_id {
    padding: 5px;
    background-color: #79ac00;
    color: white;
}
span.speaker {
    background-color: #282828;
    padding: 5px;
    color: white;
    display:inline-block;
    border: 1px solid #181818;
}
.resource-details span {
    padding: 5px;
    display: block;
    color: #7d7d7d;
}
.resource-title.col-xs-12.no-padding {
    height: 85px;
}
div#main-resources-content .col-md-4.col-sm-4.col-xs-12.no-padding {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.resource-block {
    height: 100%;
}
.col-md-9 .row {
    display: flex;
    flex-wrap: wrap;
}
.speaker-col img.img-circle.img-repsonsive {
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
}
