span.count-to-number {
  display: block;
  text-align: center;
  font-size: 48px;
  color: #333333;
}
span.stats-title {
  display: block;
  text-align: center;
  font-size: 28px;
  color: #333333;
}
.stats.col-sm-4 {
  margin: 30px 0;
}
.resource-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
h3.connect-title.text-center {
    font-size: 16px;
    margin-bottom: 20px;
}
.btn.flickr-albums {
  background-color: #333;
  color: white;
  margin-bottom: 10px;
  transition: all 500ms ease;
}
.btn.flickr-albums:hover {
  background-color: #000;
  color: white !important;
}

#all-resources a.btn.btn-primary.center-block {
  background-color: #333;
  color: white;
  transition: all 500ms ease;
}
#all-resources a.btn.btn-primary.center-block:hover {
  background-color: #000;
  color: white;
}
.date-area {
    padding: 3px;
    margin-bottom: 10px;
    margin-top: 40px;
    height: 53px;
    font-size: 15px;
}
.resource-sidebar-block.col-xs-4 {
    background-color: #2f2f2f;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    border: 1px solid #000000;
}
#all-resources ul.dropdown-menu {
  margin-top: 0px;
}
#all-resources button.btn.btn-default.dropdown-toggle {
  color: white;
  border: 1px solid black;
}
a.connect-map-location.btn.btn-primary {
  background-color: #333333;
  color: white;
}
a.connect-map-location.btn.btn-primary:hover {
  color: white !important;
  background-color: #000;
}
#wrapper .col-md-4.col-sm-4.col-xs-12 {
  padding-bottom: 50px;
}
.resource-block a.btn {
  margin-bottom: 10px;
}
.resource-block {
  overflow: hidden !important;
  background-color: #252525;
  overflow: auto;
  margin-left: 5px;
  border: 1px solid #000;
  margin-right: 5px;
  margin-bottom: 10px;
}
div#all-resources {
  z-index: 2;
  position: relative;
  background-color: white;
}
.container-fluid.sponsors {
  z-index: 2;
  background-color: white;
  position: relative;
  margin-bottom: 0px;
}
