.owl-stage-outer {
  height: 300px;
}

#intro-row {
  margin-bottom: 50px;
}

#sponsor-types h3.panel-title {
  color: white;
  font-size: 24px;
}

span.sponsor-price {
  font-size: 36px;
  color: #dfdfdf;
}

#sponsor-types .panel-body .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
li.list-group-item.divider {
  background-color: #f2f2f2;
  color: black;
  font-weight: bold;
}

.panel.panel-primary.sponsor.text-center {
  -webkit-box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.75);
}

.panel.panel-primary.sponsor ul.list-group {
  margin-bottom: 0px;
  border: 1px solid #a0a0a0;
}

#current-sponsors .lead-sponsor h3,
#current-sponsors .connect-sponsor h3 {
  font-weight: normal;
  margin-top: 0px;
  font-size: 16px;
  top: 0px;
  position: relative;
}

#current-sponsors h2 {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: normal;
}

#current-sponsors .sponsor .img-responsive {
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 200ms ease;
  margin-bottom: 0px;
  margin-top: 0px;
}

@media (max-width: $screen-sm-min - 1) {
  .col-md-6 h3 {
    text-align: center;
    margin-bottom: 30px;
  }
}

// Flex box panels
.flex-row {
    display: flex;
}
@media(max-width: $screen-sm-min - 1){
    .flex-row {
        display: block;
    }
}
.flex-row div[class^="col-xs-"].flex-col, .flex-row div[class^="col-sm-"].flex-col, .flex-row div[class^="col-md-"].flex-col, .flex-row div[class^="col-lg-"].flex-col {
    display: flex;
}
#sponsor-types .col-md-4.flex-col {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
#sponsor-types .panel{
    border:1px solid #909090;
    background-color: #eaeaea;
}
table thead > tr:first-child th {
    text-align: center !important;
    background-color: #79ac00;
    border-bottom: 5px solid #c1c3d1;
}
table thead > tr:nth-child(2) th {
    text-align: center !important;
    background-color: #ffffff;
    color:#1d1d1d;
    font-size: 12px;
    border-bottom: 5px solid #c1c3d1;
    border-left:1px solid #c1c3d1;
    border-right:1px solid #c1c3d1
}
table thead > tr:nth-child(2) {
    text-align: center !important;
    background-color: #ffffff;
    color:#1d1d1d;
    font-size: 12px;
    border-bottom: 5px solid black;
    border-left:1px solid #c1c3d1;
    border-right:1px solid #c1c3d1;
}
tbody {
    border-left:1px solid #c1c3d1;
    border-right:1px solid #c1c3d1;
}
tbody > tr > td {
    text-align: center;
    font-size: 16px;
}
tbody > tr > td span.fa.fa-check {
    color:#000000;
}
tbody > tr > td span.fa.fa-times {
    color:#000000;
}

table.table-responsive {
    border-bottom: 1px solid #c1c3d1;
}
div#content-container {
    z-index: 1;
    position: relative;
    margin-top:0px;
}
.overlay {
    background-color: rgba(0,0,0,0.5);
    position: relative;
    z-index: 0;
    height: 100%;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
div#featured-jumbotron {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top:0px;
    margin-bottom:0px;
    height: 320px;
    display: flex;
    flex-direction: column;
}
div#resources-header {
    position: relative;
    height:auto;
}