---
permalink: /resources/lca14/data.json
---
connectResources([
{% for post in site.categories.yvr18 %}
    {
        "id": "{{ post.id }}",
        {% if post.session_id %}"session_id": "{{ post.session_id }}",{% endif %}
        "title": {{ post.title | smartify | jsonify }},
        "url": "{{ site.url }}{{ post.url }}",
        "summary": {{ post.excerpt | smartify | jsonify }},
        "date_published": "{{ post.date }}",
        {% if page.speakers and page.speakers != "None" %}
        "speakers": {% for speaker in post.speakers %}
        {
            "name": "{{speaker.name}}",
            "job-title": "{{speaker.job-title}}",
            "company": "{{speaker.company}}"
        }
        {% unless forloop.last == true %},{% endunless %}
        {% endfor %},
        {% endif %}
        {% if post.slideshare_presentation_url != "None" %}
        "slideshare_presentation_url": "{{post.slideshare_presentation_url}}",
        {% endif %}
        {% if post.session_track %}
        "tracks": "{{post.session_track}}",
        {% endif %}
        {% if post.image.path %}
        "thumbnail": "{{site.url}}{{post.image.path}}",
        {% endif %}
        {% if post.image.path %}
        "thumbnail": "{{site.url}}{{post.image.path}}",
        {% endif %}
    }{% unless forloop.last == true %},{% endunless %}
{% endfor %}
]);