<div class="row content-row footer-sponsors" id="current-sponsors">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                {% if site.connect-status == "pre" %}
                    <h2>{{site.connect-text}} Sponsors</h2>
                {% else %}
                    <h2>Thanks to our {{site.previous-connect-code}} Sponsors</h2>
                {% endif %}
                
            </div>
        </div>
        <div class="row">
            {% if site.connect-status == "pre" %}
                {% assign connect-code = site.connect-code | downcase %}
            {% else %}
                {% assign connect-code = site.previous-connect-code | downcase %}
            {% endif %}
            {% for sponsor in site.data.sponsors %}
                {% if sponsor.events contains connect-code %}
                    {% if sponsor.type == "lead" %}
                    <div class="col-xs-6 col-sm-2  text-center lead-sponsor ">
                        <div class="sponsor {% if sponsor.padded %}padded{% endif %}" data-toggle="tooltip" data-container="body" data-placement="top" title="Lead Sponsor">
                            <a href="{{sponsor.url}}" target="_blank">
                                <img class="{% if sponsor.class %}{{sponsor.class}}{% endif %}img-responsive lazyload"
                                 src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                 data-src="/assets/images/sponsors/{{sponsor.image}}"/>
                            </a>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-xs-6 col-sm-2 text-center connect-sponsor">
                        <div class="sponsor {% if sponsor.padded %}padded{% endif %}" data-toggle="tooltip" data-container="body" data-placement="top" title="Sponsor">
                            <a href="{{sponsor.url}}" target="_blank">
                                <img class="{% if sponsor.class %}{{sponsor.class}}{% endif %} img-responsive lazyload"
                                 src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="/assets/images/sponsors/{{sponsor.image}}"/>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
