
{% assign using_json = "False" %}
{% assign current_connect = page.categories[0] | upcase %}
{% assign connects = site.data.connects %}
{% for connect in connects %}
    {% if connect.id == current_connect %}
        {% if connect.using_json == "True" %}
            {% assign using_json = "True" %}
        {% else %}
            {% assign using_json = "False" %}
        {% endif %}
    {% endif %}
{% endfor %}
<div class="row">
    {% if using_json == "True" %}
    <div
        class="col col-12 col-sm-6 no-padding mb-4">
        <div id="video-holder" class="using_json" event-id="{{current_connect}}" session-id="{{page.session_id}}">
            <img id="video-skeleton" class="img-fluid lazyload"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="/assets/images/content/video_placeholder.png" />
            <div class="embed-responsive embed-responsive-16by9 hidden-iframe" id="video-embed">
                <iframe class="hidden-iframe" data-src="" width="100%" height="500" frameborder="0" marginwidth="5"
                    marginheight="5" scrolling="auto" id="youtube-iframe"></iframe>
            </div>
        </div>
    </div>
        <div
            class="col col-12 col-sm-6 no-padding mb-4">
            <div class="presentation">
                <div id="presentation-holder" class="using_json" event-id="{{current_connect}}" session-id="{{page.session_id}}">
                    <img id="presentation-skeleton" class="img-fluid lazyload"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="/assets/images/content/presentation-placeholder.svg" />
                    <div class="embed-responsive embed-responsive-16by9 hidden-iframe" id="presentation-embed">
                        <!-- <iframe class="hidden-iframe" data-src="" width="100%" height="500" frameborder="0" marginwidth="5"
                                                marginheight="5" scrolling="auto" id="presentation-iframe"></iframe> -->
                        <embed type="application/pdf" id="presentation-data-embed" class="embed-responsive-item hidden-iframe"
                            data-src="" width="100%" height="500" alt="pdf"
                            pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if page.amazon_s3_video_url and page.amazon_s3_video_url != "None" and page.amazon_s3_video_url != "" or page.youtube_video_url != "None" and page.youtube_video_url %}
    <div class="col col-12 {% if page.amazon_s3_presentation_url and page.amazon_s3_presentation_url != "None" and page.amazon_s3_presentation_url != "" or page.slideshare_embed_url and page.slideshare_embed_url != "None" %}col-sm-6{% endif %} no-padding mb-4">
        <div class="video">
            {% if using_json == "True" %}
                <div id="video-holder" class="using_json" event-id="{{current_connect}}" session-id="{{page.session_id}}">
                    <img id="video-skeleton" class="img-fluid lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="/assets/images/content/video_placeholder.png" />
                    <div class="embed-responsive embed-responsive-16by9" id="video-embed">
                        <iframe class="hidden-iframe" data-src="" width="100%" height="500" frameborder="0" marginwidth="5"
                            marginheight="5" scrolling="auto" id="youtube-iframe"></iframe>
                    </div>
                </div>
            {% elsif page.amazon_s3_video_url and page.amazon_s3_video_url != "None" %}
                <div id="video-holder">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video controls="true" class="embed-responsive-item">
                            <source src="{{page.amazon_s3_video_url}}" type="video/mp4" />
                        </video>
                    </div>
                </div>
            {% elsif page.youtube_video_url and page.youtube_video_url != "None" %}
                <div id="video-holder">
                    <div class="embed-responsive embed-responsive-16by9" id="video-embed">
                            {% if page.youtube_video_url contains "https://youtu.be/" %}
                                {% assign media_url = page.youtube_video_url | replace: 'https://youtu.be/','https://youtube.com/embed/'%}
                            {% elsif page.youtube_video_url contains "https://www.youtube.com/watch?v=" %}
                                {% assign media_url = page.youtube_video_url | replace: 'https://www.youtube.com/watch?v=','https://youtube.com/embed/'%}
                            {% else %}
                                {% assign media_url = page.youtube_video_url %}
                            {% endif %}
                            <iframe class="embed-responsive-item" src="{{media_url}}"></iframe>
                    </div>
                </div>
            {% endif %}
        </div>
        {% if page.amazon_s3_video_url and page.amazon_s3_video_url != "None" and page.amazon_s3_video_url != "n/a" %}
            <div class="s3-link">
                <a href="{{page.amazon_s3_video_url}}" class="btn btn-primary mt-2 s3-download">Download Video</a>
            </div>
        {% endif %}
    </div>
    {% endif %}
    {% if page.amazon_s3_presentation_url and page.amazon_s3_presentation_url != "None" and page.amazon_s3_presentation_url != "" or page.slideshare_embed_url != "None" and page.slideshare_embed_url  %}
        <div class="col col-12 {% if  page.amazon_s3_video_url != "None" or page.amazon_s3_video_url != "" or page.youtube_video_url != "None" %}col-sm-6{% endif %} no-padding mb-4">
            <div class="presentation">
                {% if using_json == "True" %}
                    <div id="presentation-holder" class="using_json" event-id="{{current_connect}}" session-id="{{page.session_id}}">
                        <img id="presentation-skeleton" class="img-fluid lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            data-src="/assets/images/content/presentation-placeholder.svg" />
                        <div class="embed-responsive embed-responsive-16by9 hidden-iframe" id="presentation-embed">
                            <!-- <iframe class="hidden-iframe" data-src="" width="100%" height="500" frameborder="0" marginwidth="5"
                                marginheight="5" scrolling="auto" id="presentation-iframe"></iframe> -->
                                <embed type="application/pdf" id="presentation-data-embed" class="embed-responsive-item hidden-iframe" data-src="" width="100%" height="500" alt="pdf"
                                    pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
                        </div>
                    </div>
                {% elsif page.amazon_s3_presentation_url and page.amazon_s3_presentation_url != "None" %}
                    <div id="presentation-holder">
                        <div class="embed-responsive embed-responsive-16by9" id="presentation-embed">
                            <iframe class="embed-responsive-item" src="{{page.amazon_s3_presentation_url}}" width="100%" frameborder="0" marginwidth="5"
                            allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" marginwidth="5"  marginheight="5" scrolling="auto" id="presentation-iframe"></iframe>
                        </div>
                    </div>
                {% elsif page.slideshare_embed_url and page.slideshare_embed_url != "None" %}
                    <div id="presentation-holder">
                        <div class="embed-responsive embed-responsive-16by9" id="presentation-embed">
                            <iframe class="embed-responsive-item" src="{{page.slideshare_embed_url}}" width="100%" frameborder="0" marginwidth="5"
                                marginheight="5" scrolling="auto" id="presentation-iframe"></iframe>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% if page.amazon_s3_presentation_url and page.amazon_s3_presentation_url != "None" and page.amazon_s3_presentation_url != "n/a" %}
                <div class="s3-link">
                    <a href="{{page.amazon_s3_presentation_url}}" class="btn btn-primary mt-2 s3-download">Download Presentation</a>
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>
<div class="row">
    <div class="col col-12-padding">
        {% if using_json == "True" %}
        <div class="list-group mb-5" id="session_files">
            <li class="list-group-item active">Session Files</li>
        </div>
        {% endif %}
        {% if page.description %}
        <h3>Session Abstract</h3>
        <p>
            {{page.description}}
        </p>
        {% endif %}
        {% if page.session_speakers %}
        <h2>Session Speakers</h2>
            {% for speaker in page.session_speakers %}
                <h3>{{speaker.speaker_name}}</h3>
                {% assign speaker_url_size = speaker.speaker_url | size %}
                {% if speaker.speaker_url != '' and speaker_url_size > 1 %}
                    {% if speaker.speaker_url contains 'http' %}
                        {% assign speaker_url = speaker.speaker_url %}
                    {% else %}
                        {% assign speaker_url = "https://" | append: speaker.speaker_url %}
                    {% endif %}
                    <a href="{{speaker_url}}">View website <span class="fa fa-globe"></span></a>
                {% endif %}
                <h4>{{speaker.speaker_position}} {% if speaker.speaker_company != '' %}({{speaker.speaker_company}}){% endif %}</h4>
                <p>
                    {{speaker.speaker_bio}}
                </p>
            {% endfor %}
        {% endif %}
    </div>
</div>
