<div id="jumbotron-caption">
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{% asset_path 'YVR18-logo-vertical.png' %}" class="fade-in-one img-responsive center-block lazyload" alt="YVR18 Connect Logo"/>
    <h2 class="connect-date fade-in-two"><span class="line">17th - 21st </span><span class="line">September 2018</span></h2>
    <h3 class="connect-location fade-in-two">
        <span class="line">Hyatt Regency Vancouver</span>
        <span class="line">655 Burrard St, BC V6C 2R7</span>
        <span class="line">Vancouver, Canada</span></h3>
    <p id="buttons" class="text-center">
        <a href="/about/" class="btn btn-linaro-home fade-in-three" >Learn More</a>
        <a href="/register/" class="btn btn-linaro-home fade-in-three" >Register</a>
    </p>
</div>