<div id="jumbotron-caption">
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
    data-src="/assets/images/content/{{site.connect-code | downcase }}-vertical-white.png" 
    class="fade-in-one img-responsive center-block lazyload" 
    alt="Connect Logo"/>
    <h2 class="connect-date fade-in-two">
        <span class="line">{{site.title}}</span>
    </h2>
    <h3 class="connect-location fade-in-two">
        <span class="line">1 - 5 </span>
        <span class="line"> April 2019</span>
        <span class="line"> Bangkok, Thailand</span>
    </h3>
    <p id="buttons" class="text-center">
        <a href="/about/" class="btn btn-linaro-home fade-in-three" >Learn More</a>
    </p>
</div>