{% assign keynotes = site.data.keynotes.items | sort: 'date' %}

{% for keynote in keynotes %}
    <div class="modal fade" id="{{keynote.speaker.name | slugify }}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{keynote.title}}</h4>
                </div>
                <div class="modal-body">
                    <h4>Keynote Abstract</h4>
                    {{keynote.description | markdownify }}
                    <h4>{{keynote.speaker}}</h4>
                    {{keynote.speaker.bio | markdownify }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
<div class="col-xs-12 keynotes">
    <div class="owl-carousel owl-theme keynote_slider">
        {% for keynote in keynotes %}
            <div class="item">
                <div class="keynote_container">
                    <div class="keynote_image">
                        <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            alt="{{keynote.speaker.name}} image" data-src="{{keynote.speaker.image}}" />
                    </div>
                    <div class="keynote_info">
                        <h3>{{keynote.title}}</h3>
                        <p>
                            {{keynote.speaker.name}} {% if keynote.speaker.jon_title %}{{keynote.speaker.job_title}} - {% endif %} - {{keynote.speaker.company}}
                        </p>
                    </div>
                    <a class="btn btn-primary center-block" data-toggle="modal" href='#{{keynote.speaker.name | slugify }}'>More Info</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
