{% comment %}
    Session speakers
{% endcomment %}

{% if page.speakers and page.speakers != "None" %}
<div class="row">
    <div class="col-xs-12 attached-documents">
        <div class="list-group">
            <li class="list-group-item active">Speakers</li>
            {% for speaker in page.speakers %}
                {% if speaker.name %}
                    <li class="list-group-item">
                        {{speaker.name}}{% if speaker.company and speaker.job-title %} - {{speaker.job-title}} at {{speaker.company}} {% endif %}
                    </li>
                {% else %}
                    <li class="list-group-item">
                        {{speaker}}
                    </li>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% if page.attached_documents %}
<div class="row">
    <div class="col-xs-12 attached-documents">
        <div class="list-group">
            <li class="list-group-item active"> Attached Documents </li>
            {% for document in page.attached_documents %}
                <a href="{{document.url}}" class="list-group-item">
                    {{document.title}}
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% comment %}
    Generic Resources Info
{% endcomment %}

{% assign event_code_formatted = include.event_code | downcase %}

{% include_cached search-by-tracks.html %}

{% assign using_json = "False" %}
{% assign current_connect = include.event_code | upcase %}
{% if current_connect == "YVR18" %}
    {% assign using_json = "True" %}
{% endif %}

<div class="row">
    <div class="col-xs-12 resources-stats">
        <div class="resource-sidebar-block col-xs-4">
            <div class="col-xs-6">
                <span class="glyphicon glyphicon-th"></span>
            </div>
            <div class="col-xs-6">
                <span class="resources-number">{{site.categories[event_code_formatted] | size}}</span>
            </div>
        </div>
        <div class="resource-sidebar-block col-xs-4">
            <div class="col-xs-6">
                <span class="icon-youtube"></span>
            </div>
            <div class="col-xs-6">
                <span class="resources-number">
                    {% include_cached resources-stats-counter-videos.html event_code=event_code_formatted %}
                </span>
            </div>
        </div>
        <div class="resource-sidebar-block col-xs-4">
            <div class="col-xs-6">
                <span class="icon-linkedin"></span>
            </div>
            <div class="col-xs-6">
                <span class="resources-number">
                    {% include_cached resources-stats-counter-presentations.html event_code=event_code_formatted %}
                </span>
            </div>
        </div>
    </div>
</div>
{% comment %}
    Related Event Posts
{% endcomment %}
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary" class="blog-sidebar">
            <div class="panel-heading">
              <h3 class="panel-title">Other {{include.event_code | upcase}} Sessions</h3>
            </div>
            <div class="panel-body">
                {% assign related_posts = site.categories[event_code_formatted] %}
                {% for post in related_posts limit: 4 %}
                    <a href="{{post.url}}">
                        <div class="row featured_blog_post">
                            <div class="col-md-3 col-sm-3 col-xs-3 no-padding">
                                {% if post.image.thumb %}
                                 <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                 {% if post.image.featured %}
                                      {% if post.image.thumb %}
                                               data-src="{% asset_path '{{post.image.thumb}}'%}"
                                       {% endif %}
                                 {% endif %}
                                alt="{{post.title}}" class="img-responsive lazyload"/>
                                {% elsif post.image.name %}
                                    {% capture image_path %}assets/images/featured-images/{{post.image.name}}{% endcapture %}
                                    {% responsive_image_block %}
                                      template: _includes/images/thumb.html
                                      path: "{{ image_path }}"
                                      title: "{{ post.title }}"
                                      alt: "{{ post.title }}"
                                    {% endresponsive_image_block %}
                                {% else %}
                                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                      data-src="{% asset_path '{{site.data.settings.placeholder}}'%}"
                                   alt="{{post.title}}" class="img-responsive lazyload"/>
                                {% endif %}
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9 ">
                               {{post.title | truncate: 40}}
                               <br /><small><em>{{post.date | date: "%A, %B %-d, %Y" }}</em></small>
                           </div>
                           <div class="resource-info col-xs-12 no-padding">
                               <div class="event col-xs-4">
                                   <span class="event-code-span">{{post.categories | first | upcase}}</span>
                               </div>
                               {% if event_code_formatted == "yvr18" %}
                               <div class="video col-xs-4">
                               </div>
                               <div class="presentation col-xs-4">
                               </div>
                               {% else %}
                                <div class="video col-xs-4">
                                    <i class="icon-youtube"></i> - {% if post.youtube_video_url != "None" %}
                                    <i class="glyphicon glyphicon-ok-sign"></i>{% else %}
                                    <i class="glyphicon glyphicon-remove-sign"></i> {% endif%}
                                </div>
                                <div class="presentation col-xs-4">
                                    <i class="icon-linkedin"></i> - {% if post.slideshare_presentation_url != "None" %}
                                    <i class="glyphicon glyphicon-ok-sign"></i>{% else %}
                                    <i class="glyphicon glyphicon-remove-sign"></i>{% endif%}
                                </div>
                               {% endif %}
                           </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>  
</div>
{% comment %}
    Other Posts
{% endcomment %}
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary" class="blog-sidebar">
            <div class="panel-heading">
              <h3 class="panel-title">Other Posts</h3>
            </div>
            <div class="panel-body">
                {% assign posts = site.posts | sample:5 %}
                {% for post in posts %}
                <a href="{{post.url}}">
                    <div class="row featured_blog_post">
                        <div class="col-md-3 col-sm-3 col-xs-3 no-padding">
                           <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                           {% if post.image.featured %}
                                {% if post.image.thumb %}
                                         data-src="{% asset_path '{{post.image.thumb}}'%}"
                                 {% else %} 
                                       data-src="{% asset_path '{{post.image.name}}' %}"
                                 {% endif %}
                           {% else %}
                                data-src="{% asset_path '{{site.data.settings.placeholder}}' %}"
                           {% endif %}
                          alt="{{post.title}}" class="img-responsive lazyload"/>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 ">
                           {{post.title | truncate: 40}}
                           <br /><small><em>{{post.date | date: "%A, %B %-d, %Y" }}</em></small>
                       </div>
                       <div class="resource-info col-xs-12 no-padding">
                           <div class="event col-xs-4">
                               <span class="event-code-span">{{post.categories | first | upcase}}</span>
                           </div>
                           <div class="video col-xs-4">
                               <i class="icon-youtube"></i> - {% if post.youtube_video_url != "None" %}<i class="glyphicon glyphicon-ok-sign"></i>{% else %}<i class="glyphicon glyphicon-remove-sign"></i> {% endif%}
                           </div>
                           <div class="presentation col-xs-4">
                               <i class="icon-linkedin"></i> - {% if post.slideshare_presentation_url != "None" %}<i class="glyphicon glyphicon-ok-sign"></i>{% else %}<i class="glyphicon glyphicon-remove-sign"></i>{% endif%}
                           </div>
                       </div>
                    </div>
                    </a>
                {% endfor %}
            </div>    
        </div>
    </div>
</div>
{% if site.data.settings.blog.sidebar.custom-include %}
    {% include {{site.data.settings.blog.sidebar.custom-include}} %}
{% endif %}
