{% assign event_code = page.categories[0] | upcase %}
{% assign connect_details = site.data.connects | where: 'id', event_code %}

{% if connect_details.flickr_albums %}
    <h3 class="text-center">{{event_code}} on</h3>
    <img class="lazyload img-responsive" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
     data-src="/assets/images/content/flickr-logo.png" alt="Flickr Logo"/>
    <ul class="list-group">
        {% for album in connect_details.flickr_albumbs %}
            <a href="{{album.url}}">
                <li class="list-group-item">{{album.title}}</li>
            </a>
        {% endfor %}
    </ul>
{% endif %}
 

{% comment %}
    Session speakers
{% endcomment %}
{% if page.author == "charbax" %}
{% assign author = site.authors | where: "username", page.author | first %}
<div class="row">
    <div class="col-xs-12 content-author">
        <div class="list-group">
            <li class="list-group-item active">Author</li>
            <div class="author-details">
                <div class="image-col col-xs-3 ">
                    <div class="author-img img-circle" style="background-image:url('{{author.image.path}}')"></div>
                </div>
                <div class="author-info col-xs-9">
                    <h3>{{author.name}}</h3>
                    {% if author.website %}<a href="{{author.website}}"><i aria-hidden="true" class="fa fa-external-link-square"></i></a>{% endif %}
                    {% if author.youtube %}<a href="{{author.youtube}}"><i aria-hidden="true" class="fa fa-youtube-square"></i></a>{% endif %}
                    {% if author.google_plus %}<a href="{{author.google_plus}}"><i aria-hidden="true" class="fa fa-google-plus-official"></i></a>{% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}


{% if page.session_speakers %}
    {% for speaker in page.session_speakers %}
        {% if speaker.speaker_position != "" and speaker.speaker_company != "" %}
            {% capture speaker_tooltip %}
                {{speaker.speaker_name}} - {{speaker.speaker_position}} at {{speaker.speaker_company}}
            {% endcapture %}
        {% else %}
            {% assign speaker_tooltip = speaker.speaker_name %}
        {% endif %}
        <div class="col-xs-4 session-speaker"  data-toggle="tooltip" data-placement="top" title="{{speaker_tooltip}}">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
            data-src="{{speaker.speaker_image}}"
            alt="{{speaker.speaker_name}} profile image"/>
        </div>
    {% endfor %}
{% elsif page.speakers and page.speakers != "None" %}
<div class="row">
    <div class="col-xs-12 attached-documents">
        <div class="list-group">
            <li class="list-group-item active">Speakers</li>
            {% for speaker in page.speakers %}
                {% if speaker.name %}
                    <li class="list-group-item">
                        {{speaker.name}}{% if speaker.company and speaker.job-title %} - {{speaker.job-title}} at {{speaker.company}} {% endif %}
                    </li>
                {% else %}
                    <li class="list-group-item">
                        {{speaker}}
                    </li>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}


{% if page.attached_documents %}
<div class="row">
    <div class="col-xs-12 attached-documents">
        <div class="list-group">
            <li class="list-group-item active"> Attached Documents </li>
            {% for document in page.attached_documents %}
                <a href="{{document.url}}" class="list-group-item">
                    {{document.title}}
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% comment %}
    Generic Resources Info
{% endcomment %}

{% assign event_code_formatted = include.event_code | downcase %}
{% include_cached search-by-tracks.html %}
{% assign using_json = "False" %}
{% assign current_connect = include.event_code | upcase %}
{% if current_connect == "YVR18" %}
    {% assign using_json = "True" %}
{% endif %}
<div class="row">
    <div class="col-xs-12 resources-stats">
        <div class="resource-sidebar-block col-xs-4">
            <div class="col-xs-6">
                <span class="glyphicon glyphicon-th"></span>
            </div>
            <div class="col-xs-6">
                <span class="resources-number">{{site.categories[event_code_formatted] | size}}</span>
            </div>
        </div>
        <div class="resource-sidebar-block col-xs-4">
            <div class="col-xs-6">
                <span class="icon-youtube"></span>
            </div>
            <div class="col-xs-6">
                <span class="resources-number">
                    {% include_cached resources-stats-counter-videos.html event_code=event_code_formatted %}
                </span>
            </div>
        </div>
        <div class="resource-sidebar-block col-xs-4">
            <div class="col-xs-6">
                <span class="icon-linkedin"></span>
            </div>
            <div class="col-xs-6">
                <span class="resources-number">
                    {% include_cached resources-stats-counter-presentations.html event_code=event_code_formatted %}
                </span>
            </div>
        </div>
    </div>
</div>
{% comment %}
    Related Event Posts
{% endcomment %}
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary" class="blog-sidebar">
            <div class="panel-heading">
              <h3 class="panel-title">Other {{include.event_code | upcase}} Sessions</h3>
            </div>
            <div class="panel-body">
                {% assign related_posts = site.categories[event_code_formatted] %}
                {% for post in related_posts limit: 4 %}
                    <a href="{{post.url}}">
                        <div class="row featured_blog_post">
                            <div class="col-md-3 col-sm-3 col-xs-3 no-padding">
                                {% if post.image.thumb %}
                                    {% capture image_path %}assets/images/featured-images/{{ post.image.thumb }}{% endcapture %}
                                    {% capture full_path %}/assets/images/featured-images/{{ post.image.thumb }}{% endcapture %}
                                    {% responsive_image_block %}
                                    template: _includes/thumb.html
                                    path: {{ image_path }}
                                    fullpath: {{ full_path }}
                                    class: featured-product-image
                                    {% if post.title %}
                                    title: {{ post.title | slugify: "ascii"}}
                                    alt: {{ post.title | slugify: "ascii"}}
                                    {% endif %}
                                    {% endresponsive_image_block %}
                                {% elsif post.image.path %}
                                    {% capture image_path %}{{post.image.path | slice: 1,post.image.path.size}}{% endcapture %}
                                    {% capture full_path %}{{post.image.path}}{% endcapture %}
                                    {% responsive_image_block %}
                                    template: _includes/thumb.html
                                    path: {{ image_path }}
                                    fullpath: {{ full_path }}
                                    class: featured-product-image
                                    {% if post.title %}
                                    title: {{ post.title | slugify: "ascii"}}
                                    alt: {{ post.title | slugify: "ascii"}}
                                    {% endif %}
                                    {% endresponsive_image_block %}
                                {% elsif post.image.name %}
                                    {% capture image_path %}assets/images/featured-images/{{ post.image.name }}{% endcapture %}
                                    {% capture full_path %}/assets/images/featured-images/{{ post.image.name }}{% endcapture %}
                                    {% responsive_image_block %}
                                    template: _includes/thumb.html
                                    path: {{ image_path }}
                                    fullpath: {{ full_path }}
                                    class: featured-product-image
                                    {% if post.title %}
                                    title: {{ post.title | slugify: "ascii"}}
                                    alt: {{ post.title | slugify: "ascii"}}
                                    {% endif %}
                                    {% endresponsive_image_block %}
                                {% else %}
                                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                      data-src="{{site.data.settings.placeholder}}"
                                   alt="{{post.title}}" class="img-responsive lazyload"/>
                                {% endif %}
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9 ">
                               {{post.title | truncate: 40}}
                               <br /><small><em>{{post.date | date: "%A, %B %-d, %Y" }}</em></small>
                           </div>
                           <div class="resource-info col-xs-12 no-padding">
                               <div class="event col-xs-4">
                                   <span class="event-code-span">{{post.categories | first | upcase}}</span>
                               </div>
                               {% if event_code_formatted == "yvr18" %}
                               <div class="video col-xs-4">
                               </div>
                               <div class="presentation col-xs-4">
                               </div>
                               {% else %}
                                <div class="video col-xs-4">
                                    <i class="icon-youtube"></i> - {% if post.youtube_video_url != "None" %}
                                    <i class="glyphicon glyphicon-ok-sign"></i>{% else %}
                                    <i class="glyphicon glyphicon-remove-sign"></i> {% endif%}
                                </div>
                                <div class="presentation col-xs-4">
                                    <i class="icon-linkedin"></i> - {% if post.slideshare_presentation_url != "None" %}
                                    <i class="glyphicon glyphicon-ok-sign"></i>{% else %}
                                    <i class="glyphicon glyphicon-remove-sign"></i>{% endif%}
                                </div>
                               {% endif %}
                           </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>  
</div>
{% comment %}
    Other Posts
{% endcomment %}
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary" class="blog-sidebar">
            <div class="panel-heading">
              <h3 class="panel-title">Other Posts</h3>
            </div>
            <div class="panel-body">
                {% assign posts = site.posts | sample:5 %}
                {% for post in posts %}
                <a href="{{post.url}}">
                    <div class="row featured_blog_post">
                        <div class="col-md-3 col-sm-3 col-xs-3 no-padding">
                            {% if post.image.thumb %}
                                {% capture image_path %}assets/images/featured-images/{{ post.image.thumb }}{% endcapture %}
                                {% capture full_path %}/assets/images/featured-images/{{ post.image.thumb }}{% endcapture %}
                                {% responsive_image_block %}
                                template: _includes/thumb.html
                                path: {{ image_path }}
                                fullpath: {{ full_path }}
                                class: featured-product-image
                                {% if post.title %}
                                title: {{ post.title | slugify: "ascii"}}
                                alt: {{ post.title | slugify: "ascii"}}
                                {% endif %}
                                {% endresponsive_image_block %}
                            {% elsif post.image.name %}
                                {% capture image_path %}assets/images/featured-images/{{ post.image.name }}{% endcapture %}
                                {% capture full_path %}/assets/images/featured-images/{{ post.image.name }}{% endcapture %}
                                {% responsive_image_block %}
                                template: _includes/thumb.html
                                path: {{ image_path }}
                                fullpath: {{ full_path }}
                                class: featured-product-image
                                {% if post.title %}
                                title: {{ post.title | slugify: "ascii"}}
                                alt: {{ post.title | slugify: "ascii"}}
                                {% endif %}
                            {% endresponsive_image_block %}
                            {% else %}
                                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                  data-src="{{site.data.settings.placeholder}}"
                               alt="{{post.title}}" class="img-responsive lazyload"/>
                            {% endif %}
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 ">
                           {{post.title | truncate: 40}}
                           <br /><small><em>{{post.date | date: "%A, %B %-d, %Y" }}</em></small>
                       </div>
                       <div class="resource-info col-xs-12 no-padding">
                           <div class="event col-xs-4">
                               <span class="event-code-span">{{post.categories | first | upcase}}</span>
                           </div>
                           <div class="video col-xs-4">
                               <i class="icon-youtube"></i> - {% if post.youtube_video_url != "None" %}<i class="glyphicon glyphicon-ok-sign"></i>{% else %}<i class="glyphicon glyphicon-remove-sign"></i> {% endif%}
                           </div>
                           <div class="presentation col-xs-4">
                               <i class="icon-linkedin"></i> - {% if post.slideshare_presentation_url != "None" %}<i class="glyphicon glyphicon-ok-sign"></i>{% else %}<i class="glyphicon glyphicon-remove-sign"></i>{% endif%}
                           </div>
                       </div>
                    </div>
                    </a>
                {% endfor %}
            </div>    
        </div>
    </div>
</div>
{% if site.data.settings.blog.sidebar.custom-include %}
    {% include {{site.data.settings.blog.sidebar.custom-include}} %}
{% endif %}
