<div class="row flex-row pricing-row content-row padded-row-30">
    <div class="container">
        <div class="col-sm-6 text-center">
            <div class="normal-pricing">
                <h2>Week Pass</h2>
                <h3 class="pricing">$2,500 / $900 </h3>
                <small>Guests / <a href="https://www.linaro.org/membership/">Linaro Members</a> </small>
            </div>
        </div>
        <div class="col-sm-6 text-center">
            <div class="member-pricing">
                <h2>Day Pass</h2>
                <h3 class="pricing">$750 / $300 </h3>
                <small>Guests / <a href="https://www.linaro.org/membership/">Linaro Members</a> </small>
            </div>
        </div>
        <div class="col-xs-12 text-center">
            <p>If your company is a member of Linaro and you're looking for a <em>discount code</em> please email <a
                    href="mailto:connect@linaro.org">connect@linaro.org</a></p>
        </div>
    </div>
</div>