<div class="col col-12">
    <!-- Noscript content for added SEO -->
    <noscript><a href="https://www.eventbrite.co.uk/e/linaro-virtual-connect-2020-tickets-112995398278"
            rel="noopener noreferrer" target="_blank"></noscript>
    <!-- You can customize this button any way you like -->
    <button id="eventbrite-widget-modal-trigger-112995398278" type="button">Buy Tickets</button>
    <noscript></a>Buy Tickets on Eventbrite</noscript>

    <script src="https://www.eventbrite.co.uk/static/widgets/eb_widgets.js"></script>

    <script type="text/javascript">
        var exampleCallback = function () { console.log('Order complete!'); }

            ;

        window.EBWidgets.createWidget(
            { widgetType: 'checkout', eventId: '112995398278', modal: true, modalTriggerElementId: 'eventbrite-widget-modal-trigger-112995398278', onOrderComplete: exampleCallback }

        );
    </script>
</div>
