{% assign total_slides = 0 %}
{% assign total_videos = 0 %}

{% for post in site.posts %}
    {% if post.youtube_video_url %}
        {% assign total_videos = total_videos | plus: 1 %}
    {% endif %}
    {% if post.slideshare_presentation_url %}
        {% assign total_slides = total_slides | plus: 1 %}
    {% endif %}
{% endfor %}

<div class="stats col-sm-4">
    <span class="count-to-number fly">{{ total_videos }}</span>
    <span class="stats-title fly">Videos</span>
</div>
<div class="stats col-sm-4">
    <span class="count-to-number fly">{{ site.data.connects | size }}</span>
    <span class="stats-title fly">Events</span>
</div>
<div class="stats col-sm-4">
    <span class="count-to-number fly">{{ total_slides }}</span>
    <span class="stats-title fly">Presentations</span>
</div>