<div class="col col-12 col-md-4">
    <div class="row">
        <div class="col col-12">
            <img src="/connect.linaro.org/assets/images/content/Attendees_Icon.svg" class="img-fluid" alt="Attendess SVG image"/>
        </div>
        <div class="col col-12">
            <span class="big_num display-4">1500</span>
            <h3>Registered Attendees</h3>
        </div>
    </div>
</div>
<div class="col col-12 col-md-4">
    <div class="row">
        <div class="col col-12">
            <img src="/connect.linaro.org/assets/images/content/Sessions_Icon.svg" class="img-fluid" alt="Attendess SVG image"/>
        </div>
        <div class="col col-12">
            <span class="big_num display-4">66</span>
            <h3>Sessions</h3>
        </div>
    </div>
</div>
<div class="col col-12 col-md-4">
    <div class="row">
        <div class="col col-12">
            <img src="/connect.linaro.org/assets/images/content/Views_Icon.svg" class="img-fluid" alt="Attendess SVG image"/>
        </div>
        <div class="col col-12">
            <span class="big_num display-4">4295</span>
            <h3>Views</h3>
        </div>
    </div>
</div>