---
title: Resources
permalink: /resources/
layout: container-breadcrumb
js-package: resources
css-package: resources
---

{% include_cached stats.html %}

{% include_cached search-by-tracks.html %}

<div id="all-resources">
{% assign connect_events = site.data.connects | sort: "start-date" | reverse %}
    {% for connect in connect_events %}
        {% assign connect_id = connect.id | downcase %}
        <!-- <h1>{{connect.long-name}}</h1> -->
        <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
            <div class="col-xs-12 connect-title-holder">
                <h3 class="connect-title text-center">{{connect.long-name}}</h3>
            </div>
            <div class="date-area text-center">
                <span class="date start">
                    {{connect.start-date | date: "%A "}}{% assign d = connect.start-date | date: "%-d" %} {% case d %} {% when '1' or '21' or
                    '31' %}{{ d }}st {% when '2' or '22' %}{{ d }}nd {% when '3' or '23' %}{{ d }}rd {% else %}{{ d }}th {% endcase %}
                    {{connect.start-date | date: "%B, %Y"}}
                </span>
                -
                <span class="date end">
                    {{connect.end-date | date: "%A "}}{% assign d = connect.end-date | date: "%-d" %} {% case d %} {% when '1' or '21' or '31'
                    %}{{ d }}st {% when '2' or '22' %}{{ d }}nd {% when '3' or '23' %}{{ d }}rd {% else %}{{ d }}th {% endcase %} {{connect.end-date
                    | date: "%B , %Y"}}
                </span>
            </div>
            <div class="resource-block">
                <a href="/resources/{{connect_id}}/">
                    <div class="resource">
                        {% if connect.placeholder %}
                            {% capture image-name %}{{connect.placeholder}}{% endcapture %}
                        {% else %}
                            {% capture image-name %}connect-logo.png{% endcapture %}
                        {% endif %}
                        <div class="resource-image" style="background-image:url(/assets/images/content/{{image-name}})"></div>
                    </div>
                </a>
                <div class="col-xs-12 resources-stats no-padding">
                    <div class="resource-sidebar-block col-xs-4 text-center">
                        <div class="col-xs-12 col-sm-6 no-padding">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                        <div class="col-xs-12 col-sm-6 no-padding">
                            <span class="resources-number">{{site.categories[connect_id] | size}}</span>
                        </div>
                    </div>
                    <div class="resource-sidebar-block col-xs-4 text-center">
                        <div class="col-xs-12 col-sm-6 no-padding">
                            <span class="icon-youtube"></span>
                        </div>
                        <div class="col-xs-12 col-sm-6 no-padding">
                            <span class="resources-number">
                                
                                {% assign counter = 0 %}
                                {% for resource in site.categories[connect_id] %}
                                    {% if resource.youtube_video_url %}
                                        {% assign counter = counter | plus:1 %}
                                    {% endif %}
                                {% endfor %}
                                
                                {{counter}}
                            
                            </span>
                        </div>
                    </div>
                    <div class="resource-sidebar-block col-xs-4 text-center">
                        <div class="col-xs-12 col-sm-6 no-padding">
                            <span class="icon-linkedin"></span>
                        </div>
                        <div class="col-xs-12 col-sm-6 no-padding">
                            <span class="resources-number">
                                {% assign counter = 0 %}
                                {% for resource in site.categories[connect_id] %}
                                    {% if resource.slideshare_presentation_url %}
                                        {% assign counter = counter | plus:1 %}
                                    {% endif %}
                                {% endfor %}
                                {{counter}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 no-padding text-center">
                    {% if connect.flickr-albums %}
                        {% assign numberOfFlickrAlbums = connect.flickr-albums | size %} 
                        {% if numberOfFlickrAlbums > 1 %}
                        <!-- Single button -->
                        <div class="btn-group">
                            <button type="button" class="flickr-albums btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Flickr Albums
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                {% for album in connect.flickr-albums %}
                                <li>
                                    <a href="{{album.url}}">{{album.title}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% else %}
                        <a class="flickr-albums btn btn-primary" href="{{connect.flickr-albums | first }}">Flickr Album</a>
                        {% endif %}
                    {% endif %}
                    
                    {% if connect.location %}
                        {% capture full-location %}{% endcapture %}
                        {% if connect.location.venue %}
                            {% capture full-location %}{{full-location}}+{{connect.location.venue}}{% endcapture %}
                        {% endif %}
                        {% if connect.location.city %}
                            {% capture full-location %}{{full-location}}+{{connect.location.city}}{% endcapture %}
                        {% endif %}
                        {% if connect.location.county %}
                            {% capture full-location %}{{full-location}}+{{connect.location.county}}{% endcapture %}
                        {% endif %}
                        {% if connect.location.country %}
                            {% capture full-location %}{{full-location}}+{{connect.location.country}}{% endcapture %}
                        {% endif %}
                        <a class="connect-map-location btn btn-primary" href="https://www.google.com/maps/search/{{full-location}}">
                            <i class="glyphicon glyphicon-map-marker"></i>
                            View on Map
                        </a>
                    {% endif %}
                </div>
                <div class="col-xs-12 no-padding">
                    <a href="/resources/{{connect_id}}/" class="btn btn-primary center-block">View {{connect.id}} Resources</a>
                </div>
            </div>
        </div>  
    {% endfor %}
</div>
