---
title: Resources Search
permalink: /resources/search/
description: >
    Filter & search the resources from all the previous Linaro Connect events.
layout: jumbotron-container
jumbotron:
    title: Resources Search
    background-image: /assets/images/content/bkk16-rooftop.jpg
js-package: resources-search
---
<style>
span.speaker {
    background-color: #e4e4e4;
    border: 1px solid #a0a0a0;
    display: inline-block;
    padding: 5px;
    margin-bottom: 5px;
}
</style>

{% include resources-search.html %}

<select id="connect-resources-search-select" multiple="multiple">
    {% assign tracks = '' | split: ',' %}

    {% assign connect_events = site.data.connects %}
    {% for connect in connect_events %}
        {% assign connect_id = connect.id | downcase %}
        {% assign connectResources = site.categories[connect_id] %}
        {% for resource in connectResources %}
            {% if resource.session_track %}
                {% assign tracks = tracks | push: resource.session_track %}
            {% endif %}
        {% endfor %}
    {% endfor%}

    {% assign unique_tracks = '' | split: ',' %}

    <!-- Uniq -->
    {% assign tracks = tracks | sort %}
    {% for track in tracks %}
        <!-- If not equal to previous then it must be unique as sorted -->
        {% unless track == previous %}
            <!-- Push to unique_tracks -->
            {% assign unique_tracks = unique_tracks | push: track %}
        {% endunless %}
        {% assign previous = track %}
    {% endfor %}

    {% for uniq_track in unique_tracks %}
        <option value="{{uniq_track}}">{{uniq_track}}</option>
    {% endfor %}
</select>

<div id="connect-resources-table" class="compare-table double-scroll">
    <table>
        <thead>
            <th data-attr="session_id">Session ID</th>
            <th data-attr="connect_event">Linaro Connect</th>
            <th class="attr attr-heading" data-attr="session_title">
                Session Title
            </th>
            <th data-attr="session_track">Session Tracks</th>
            <th data-attr="session_speakers">Session Speakers</th>
            <th data-attr="session_presentation">Presentation</th>
            <th data-attr="session_video">Video</th>
            <th data-attr="session_abstract">Session Abstract</th>
        </thead>
        <tbody>
            {% assign connect_events = site.data.connects %}
            {% for connect in connect_events %}
                {% assign connect_id = connect.id | downcase %}
                {% assign connectResources = site.categories[connect_id] %}
                {% for resource in connectResources %}
                    <tr data-connect="{{connect.id}}">
                        <td data-attr="session_id">{% if resource.session_id %}{{resource.session_id}}{% else %}{{connect.id}}-{{forloop.index}}{% endif %}</td>
                        <td data-attr="connect_event">{{connect.id}}</td>
                        <td data-attr="session_title">{{resource.title}}</td>
                        <td data-attr="session_track">{% if resource.session_track %}{{resource.session_track}}{% endif %}</td>
                        <td data-attr="session_speakers">
                            {% if resource.session_speakers %}
                                {% for speaker in resource.session_speakers %}
                                    <span class="speaker" {% if speaker.speaker_bio != "" %}data-placement="top" data-toggle="tooltip" title="{{speaker.speaker_bio}}" {% endif %}>
                                        {{speaker.speaker_name}}{% if speaker.speaker_position.length > 1 %}, {{speaker.speaker_position}}{% endif %}
                                        {% if speaker.speaker_company.length > 1 %} at {{speaker.speaker_company}} {% endif %}
                                    </span>
                                {% endfor %}
                            {% elsif resource.speakers %}
                                {% if resource.speakers.first %}
                                    {% for speaker in resource.speaker %}
                                        <span class="speaker" {% if speaker.biography.length > 3 %}data-toggle="tooltip" title="{{speaker.biography}}"
                                            {% endif %}>
                                            {{speaker.name}}{% if speaker.job-title.length > 1 %}, {{speaker.job-title}}{% endif %}
                                            {% if speaker.company.length > 1 %} at {{speaker.company}} {% endif %}
                                        </span>
                                    {% endfor %}
                                {% else %}
                                    <span class="speaker">{{resource.speakers}}</span>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td data-attr="session_presentation">
                            {% if resource.amazon_s3_presentation_url %}
                                <a href="{{resource.amazon_s3_presentation_url}}">Presentation(S3)</a>
                            {% endif %}
                            {% if resource.slideshare_presentation_url and resource.slideshare_presentation_url != "None" %}
                                <a href="{{resource.slideshare_presentation_url}}">Presentation (SlideShare)</a>
                            {% endif %}
                        </td>
                        <td data-attr="session_video">
                            {% if resource.youtube_video_url %}
                                <a href="{{resource.youtube_video_url}}">Video (YouTube)</a>
                            {% endif %}
                            {% if resource.amazon_s3_video_url %}
                                <a href="{{resource.amazon_s3_video_url}}">Video (S3)</a>
                            {% endif %}
                        </td>
                        <td data-attr="session_abstract">
                            {% if resource.description %}
                                {{resource.description }}
                            {% else %}
                                {{ resource.content | strip_html | truncatewords: 50 }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>