---
---
<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        <div id="messageNotice">
            <div id="inner-message" class="alert alert-warning">
                <div class="container text-center">
                    Please read the important infectious diseases notice (CoronaVirus) <a id="acceptNotice" href="/assets/pdf/ConnectBUD20-AttendanceAndInfectiousDiseases-CoronaVirus.pdf" type="button" class="btn btn-danger" data-dismiss="alert">Read & Accept</a>
                </div>
            </div>
        </div>
        <div id="wrapper" class="main">
            {% include_cached nav.html pageUrl=page.url %}
            <div class="container-fluid">
                {{content}}
                {% include_cached github-edit.html pagePath=page.path pagePermalink=page.permalink %}
                {% include footer.html %}
            </div>
        </div>
        {% include javascript.html %}
    </body>
</html>
