---
layout: jumbotron-container
---
<div class="col-sm-9" markdown="1">
{% if page.speaker.bio %}

<h3>About {{page.speaker.name}}</h3>

{{page.speaker.bio | markdownify }}

{% endif %}

{% if page.description %}

<h3>Keynote Abstract</h3>

{{page.description | markdownify }}

{% endif %}

{{page.content}}
</div>
<div class="col-sm-3">
    {% if page.speaker %}
        <ul class="list-group">
            <li class="list-group-item active">Speaker</li>
            <li class="list-group-item">{{page.speaker.name}} - {{page.speaker.job-title}}</li>
        </ul>
    {% endif %}
</div>