---
layout: jumbotron-container
title: Resources
css-package: resources-blog
js-package: resources-blog
---
{% assign using_json = "False" %}
{% assign current_connect = page.event_code | upcase %}
{% for connect in site.data.connects %}
    {% if connect.id == current_connect and connect.using_json == "True" %}
        {% assign using_json = "True" %}
    {% endif %}
{% endfor %}
<div class="col-md-9 no-padding" id="main-resources-content" event-id="{{current_connect}}">
    <div class="row">
    {% for post in paginator.posts %}
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="resource-block">
            <a href="{{post.url}}">
                <div class="resource">
                    {% if post.image.name %}
                        {% if post.session_id != "None" %}
                            {% assign image_title = post.session_id %}
                        {% else %}
                            {% assign image_title = post.title %}
                        {% endif %}
                        {% capture image_path %}assets/images/featured-images/{{post.image.name}}{% endcapture %}
{% responsive_image_block %}
path: "{{ image_path }}"
title: "{{ image_title }}"
alt: "{{ image_title }}"
{% endresponsive_image_block %}
                    {% else %}
                        {% if post.session_id != "None" %}
                            {% assign image_title = post.session_id %}
                        {% else %}
                            {% assign image_title = post.title %}
                        {% endif %}
                        {% capture image_path %}assets/images/content/connect-logo.png{% endcapture %}
                        {% for each in site.data.connects %}
                            {% if each.id == page.event_code %}
                                {% if each.placeholder %}
                                    {% capture image_path %}assets/images/content/{{each.placeholder}}{% endcapture %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
{% responsive_image_block %}
path: "{{ image_path }}"
title: "{{ image_title }}"
alt: "{{ image_title }}"
{% endresponsive_image_block %}
                    {% endif %}
                </div>
            </a>
            {% if using_json == "True" %}
            <div class="resource-info col-xs-12 no-padding using_json" session-id="{{post.session_id}}">
            </div>
            <div class="resource-title col-xs-12 no-padding">
                <h3>{{post.title}}</h3>
            </div>
            {% else %}
            <div class="resource-info col-xs-12 no-padding {% if using_json == "True" %}using_json{% endif %}"  {% if using_json == "True" %}session-id="{{post.session_id}}"{% endif %}>
                <div class="video col-xs-6">
                    <i class="icon-youtube"></i> - {% if post.amazon_s3_video_url != "None" %}<i class="glyphicon glyphicon-ok-sign"></i>{% else %}<i class="glyphicon glyphicon-remove-sign"></i> {% endif %}
                </div>
                <div class="presentation col-xs-6">
                    <i class="icon-linkedin"></i> - {% if post.amazon_s3_presentation_url != "None" %}<i class="glyphicon glyphicon-ok-sign"></i>{% else %}<i class="glyphicon glyphicon-remove-sign"></i>{% endif %}
                </div>
            </div>
            <div class="resource-title col-xs-12 no-padding">
                <h3>{{post.title}}</h3>
            </div>
            {% endif %}

        </div>
    </div>
    {% endfor %}
    </div>
    {% include pagination/pagination-resources.html event_code=page.event_code end_path="/" %}
</div>

<div class="col-md-3 blog-sidebar">
    {% include_cached post-sidebar-resources.html event_code=page.event_code %}
</div>
