---
layout: container-breadcrumb
title: Resources
css-package: resources-blog
js-package: resources-blog
---
{% assign using_json = "False" %}
{% assign current_connect = page.event_code | upcase %}
{% for connect in site.data.connects %}
    {% if connect.id == current_connect and connect.using_json == "True" %}
        {% assign using_json = "True" %}
    {% endif %}
{% endfor %}

<script type="text/javascript">

    function defer(method) {
        if (window.jQuery) {
            method();
        } else {
            setTimeout(function () { defer(method) }, 50);
        }
    }

    defer(function () {
        // Check to see for the resources stats div
        if ($(".resource-info.using_json").length > 1) {
            // Get the current Connect code from the event-code attribute
            var connectCode = $("#main-resources-content").attr("event-id");
            // URL for the resources.json
            var resources_json_url = "https://s3.amazonaws.com/connect.linaro.org/" + connectCode.toString().toLowerCase() + "/resources.json";
            // Get the resources.json file
            $.ajax({
                url: resources_json_url,
                dataType: 'json',
                complete: function (jsonResponse) {
                    jsonData = JSON.parse(jsonResponse.responseText);
                    // Loop through each instance of the resource-info div and set the correct stats indicators
                    $.each(".resource-info.using_json", function () {
                        // Find the corresponding key in the JSON data
                        $.each(jsonData, function (idx, obj) {
                            // Get the current Connect code
                            var sessionId = $(this).attr("session-id");
                            console.log("El Session ID: " + sessionId);
                            if (obj.session_id.toString().toLowerCase() == sessionId.toString().toLowerCase()) {
                                console.log(obj.session_id);
                                // Set the video status
                                if (obj.youtube_video_url.toString().length > 1) {
                                    $(this).find(".video > i.glyphicon").removeClass("glyphicon-remove-sign");
                                    $(this).find(".video > i.glyphicon").addClass("glyphicon-ok-sign");
                                }
                                // Set presentation status
                                if (obj.s3_presentation_url.toString().length > 1) {
                                    $(this).find(".presentation > i.glyphicon").removeClass("glyphicon-remove-sign");
                                    $(this).find(".presentation > i.glyphicon").addClass("glyphicon-ok-sign");
                                }

                            }
                        });

                    });


                }
            });
        }
    });
</script>

<div class="col-md-9 no-padding" id="main-resources-content" event-id="{{current_connect}}">
    <div class="row">
    {% for post in paginator.posts %}
        <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
            <div class="resource-block">
            <a href="{{post.url}}">
                <div class="resource">
                    {% if post.image.name %}
{% capture image_path %}assets/images/featured-images/{{post.image.name}}{% endcapture %}
{% responsive_image_block %}
path: "{{ image_path }}"
title: "{{ post.title }}"
alt: "{{ post.title }}"
{% endresponsive_image_block %}
                    {% else %}
                    {% capture image_path %}assets/images/content/connect-logo.png{% endcapture %}
                    {% for each in site.data.connects %}
                        {% if each.id == page.event_code %}
                            {% if each.placeholder %}
                                {% capture image_path %}assets/images/content/{{each.placeholder}}{% endcapture %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
{% responsive_image_block %}
path: "{{ image_path }}"
title: "{{ post.title }}"
alt: "{{ post.title }}"
{% endresponsive_image_block %}
                    {% endif %}
                </div>
            </a>
            {% if using_json == "True" %}
            <div class="resource-info col-xs-12 no-padding using_json" session-id="{{post.session_id}}">
            </div>
            <div class="resource-title col-xs-12 no-padding">
                <h3>{{post.title}}</h3>
                <a href="{{post.url}}">
                    <div class="resource-button">
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </div>
                </a>
            </div>
            {% else %}
            <div class="resource-info col-xs-12 no-padding {% if using_json == "True" %}using_json{% endif %}"  {% if using_json == "True" %}session-id="{{post.session_id}}"{% endif %}>
                <div class="video col-xs-6">
                    <i class="icon-youtube"></i> - {% if post.amazon_s3_video_url != "None" %}<i class="glyphicon glyphicon-ok-sign"></i>{% else %}<i class="glyphicon glyphicon-remove-sign"></i> {% endif %}
                </div>
                <div class="presentation col-xs-6">
                    <i class="icon-linkedin"></i> - {% if post.amazon_s3_presentation_url != "None" %}<i class="glyphicon glyphicon-ok-sign"></i>{% else %}<i class="glyphicon glyphicon-remove-sign"></i>{% endif %}
                </div>
            </div>
            <div class="resource-title col-xs-12 no-padding">
                <h3>{{post.title}}</h3>
                <a href="{{post.url}}">
                    <div class="resource-button">
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </div>
                </a>
            </div>
            {% endif %}

        </div>
    </div>
    {% endfor %}
    </div>
    {% include pagination-resources.html event_code=page.event_code %}
</div>

<div class="col-md-3 blog-sidebar">
    {% include_cached post-sidebar-resources.html event_code=page.event_code %}
</div>
