---
layout: jumbotron-container
title: Resources
css-package: resources-blog
js-package: resources-blog
---
{% assign using_json = "False" %}
{% assign current_connect = page.event_code | upcase %}
{% for connect in site.data.connects %}
    {% if connect.id == current_connect and connect.using_json == "True" %}
        {% assign using_json = "True" %}
        {% assign end_date = connect.end-date | date: '%B %d, %Y' %}
    {% endif %}
{% endfor %}
<div class="col-md-9" id="main-resources-content" event-id="{{current_connect}}">
    <div class="row">
        <div class="col-xs-12">
            {% include pagination/pagination-resources.html event_code=page.event_code end_path="/sessions/" %}
        </div>
    </div>
    <div class="row">
    {% if paginator.total_posts > 0 %}
    {% for post in paginator.posts %}
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="resource-block">
            <a href="{{post.url}}">
                <div class="resource">
                    {% if post.image.name %}
                        {% if post.session_id != "None" %}
                            {% assign image_title = post.session_id %}
                        {% else %}
                            {% assign image_title = post.title %}
                        {% endif %}
                        {% capture image_path %}assets/images/featured-images/{{post.image.name}}{% endcapture %}
                        {% responsive_image_block %}
                        path: "{{ image_path }}"
                        title: "{{ image_title }}"
                        alt: "{{ image_title }}"
                        {% endresponsive_image_block %}
                    {% elsif post.image.path contains "https://" %}
                        <!-- <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            data-src="https://static.linaro.org/connect/bud20/images/300/{{post.session_id}}.jpg" alt="{{post.title}}"
                            class="center-block img-responsive lazyload" /> -->
                            <picture>
                                <source media="(max-width: 400px)"
                                    data-srcset="https://static.linaro.org/connect/bud20/images/400/{{post.session_id}}.jpg">
                                <source media="(max-width: 1000px)"
                                    data-srcset="https://static.linaro.org/connect/bud20/images/800/{{post.session_id}}.jpg">
                                <img src="https://static.linaro.org/connect/bud20/images/400/{{post.session_id}}.jpg"
                                 class="img-responsive lazyload">
                            </picture>
                    {% elsif post.image.path %}
                        {% unless post.image.path contains "https://" %}
                            {% if post.session_id != "None" %}
                                {% assign image_title = post.session_id %}
                            {% else %}
                                {% assign image_title = post.title %}
                            {% endif %}
                            {% capture image_path %}{{ post.image.path | slice: 1, post.image.path.size }}{% endcapture %}
                            {% responsive_image_block %}
                            path: "{{ image_path }}"
                            title: "{{ image_title }}"
                            alt: "{{ image_title }}"
                            {% endresponsive_image_block %}
                        {% endunless %}
                    {% else %}
                    {% capture image_path %}assets/images/content/connect-logo.png{% endcapture %}
                    {% for each in site.data.connects %}
                        {% if each.id == page.event_code %}
                            {% if each.placeholder %}
                                {% capture image_path %}assets/images/content/{{each.placeholder}}{% endcapture %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if post.session_id != "None" %}
                        {% assign image_title = post.session_id %}
                    {% else %}
                        {% assign image_title = post.title %}
                    {% endif %}
{% responsive_image_block %}
path: "{{ image_path }}"
title: "{{ image_title }}"
alt: "{{ image_title }}"
{% endresponsive_image_block %}
                    {% endif %}
                </div>
            {% if using_json == "True" %}
            <!-- <div class="resource-info col-xs-12 no-padding using_json" session-id="{{post.session_id}}">

            </div> -->
            {% if post.session_id %}
                <span data-session-id="{{post.session_id}}" class="session_id">{{post.session_id}}</span>
            {% endif %}
            <div class="resource-title col-xs-12 no-padding">
                <h3>{{post.title}}</h3>
            </div>
            {% if post.session_speakers %}
            <div class="resource-speakers col-xs-12 no-padding">
                {% for speaker in post.session_speakers %}
                    <span class="speaker" data-toggle="tooltip" data-placement="top" title="{{speaker.speaker_bio}}"
                    data-speaker="{{speaker.speaker_name}}">{{speaker.speaker_name}}</span>
                {% endfor %}
            </div>
            {% endif %}
            <div class="resource-details col-xs-12 no-padding">
                {% if post.session_room %}
                    <span>{{post.session_room}}</span>
                {% endif %}
            </div>
            {% else %}
            <div class="resource-info col-xs-12 no-padding {% if using_json == "True" %}using_json{% endif %}"  {% if using_json == "True" %}session-id="{{post.session_id}}"{% endif %}>
                <div class="video col-xs-6">
                    <i class="icon-youtube"></i> - {% if post.amazon_s3_video_url != "None" %}<i class="glyphicon glyphicon-ok-sign"></i>{% else %}<i class="glyphicon glyphicon-remove-sign"></i> {% endif %}
                </div>
                <div class="presentation col-xs-6">
                    <i class="icon-linkedin"></i> - {% if post.amazon_s3_presentation_url != "None" %}<i class="glyphicon glyphicon-ok-sign"></i>{% else %}<i class="glyphicon glyphicon-remove-sign"></i>{% endif %}
                </div>
            </div>
            <div class="resource-title col-xs-12 no-padding">
                <h3>{{post.title}}</h3>
                {% if post.session_id %}
                    <span data-session-id="{{post.session_id}}" class="session_id">{{post.session_id}}</span>
                {% endif %}
                {% if post.session_speakers %}
                    {% for speaker in post.session_speakers %}
                        <span class="speaker" data-toggle="tooltip" data-placement="top" title="{{speaker.speaker_bio}}"
                        data-speaker="{{speaker.speaker_name}}">{{speaker.speaker_name}}</span>
                    {% endfor %}
                {% endif %}
            </div>
            {% endif %}

        </a>
    </div>
    </div>
    {% endfor %}
    {% else %}
        <div class="col-xs-12">
            <p>
                There are no session resources currently available/scheduled. Please check back after Connect has ended ({{end_date}})
                for more resources; or subscribe to our <a href="https://www.youtube.com/user/LinaroOrg/videos">YouTube Channel</a>
                to receive updates when we release the Connect resources.
            </p>
        </div>
    {% endif %}
    </div>
    {% include pagination/pagination-resources.html event_code=page.event_code end_path="/sessions/" %}
</div>

<div class="col-md-3 blog-sidebar">
    {% include_cached post-sidebar-resources.html event_code=page.event_code %}
</div>
