---
layout: container-breadcrumb
title: Resources
css-package: resources-blog
js-package: resources-blog
---
<div class="col-md-9 no-padding">
    <div class="col-xs-12 resources-stats no-padding visible-xs">
        <div class="resource-sidebar-block col-xs-4">
            <div class="col-xs-6">
                <span class="glyphicon glyphicon-th"></span>
            </div>
            <div class="col-xs-6">
                <span class="resources-number">{{site.categories[page.event_code] | size}}</span>
            </div>
        </div>
        <div class="resource-sidebar-block col-xs-4">
            <div class="col-xs-6">
                <span class="icon-youtube"></span>
            </div>
            <div class="col-xs-6">
                <span class="resources-number">
                    
                    {% assign counter = 0 %}
                    {% for resource in site.categories[page.event_code] %}
                        {% if resource.youtube_video_url %}
                            {% assign counter = counter | plus:1 %}
                        {% endif %}
                    {% endfor %}
                    
                    {{counter}}
                
                </span>
            </div>
        </div>
        <div class="resource-sidebar-block col-xs-4">
            <div class="col-xs-6">
                <span class="icon-linkedin"></span>
            </div>
            <div class="col-xs-6">
                <span class="resources-number">
                    {% assign counter = 0 %}
                    {% for resource in site.categories[page.event_code] %}
                        {% if resource.slideshare_presentation_url %}
                            {% assign counter = counter | plus:1 %}
                        {% endif %}
                    {% endfor %}
                    
                    {{counter}}
                </span>
            </div>
        </div>
    </div>
    
    {% for post in paginator.posts %}
        <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
            <div class="resource-block">
            <a href="{{post.url}}">
                <div class="resource">
                    {% if post.image.name %}
{% capture image_path %}assets/images/featured-images/{{post.image.name}}{% endcapture %}
{% responsive_image_block %}
path: "{{ image_path }}"
title: "{{ post.title }}"
alt: "{{ post.title }}"
{% endresponsive_image_block %}
                    {% else %}
                    {% capture image_path %}assets/images/content/connect-logo.png{% endcapture %}
                    {% for each in site.data.connects %}
                        {% if each.id == page.event_code %}
                            {% if each.placeholder %}
                                {% capture image_path %}assets/images/content/{{each.placeholder}}{% endcapture %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
{% responsive_image_block %}
path: "{{ image_path }}"
title: "{{ post.title }}"
alt: "{{ post.title }}"
{% endresponsive_image_block %}
                    {% endif %}
                </div>
            </a>
            <div class="resource-info col-xs-12 no-padding">
                <div class="video col-xs-6">
                    <i class="icon-youtube"></i> - {% if post.youtube_video_url != "None" %}<i class="glyphicon glyphicon-ok-sign"></i>{% else %}<i class="glyphicon glyphicon-remove-sign"></i> {% endif%}
                </div>
                <div class="presentation col-xs-6">
                    <i class="icon-linkedin"></i> - {% if post.slideshare_presentation_url != "None" %}<i class="glyphicon glyphicon-ok-sign"></i>{% else %}<i class="glyphicon glyphicon-remove-sign"></i>{% endif%}
                </div>
            </div>
            <div class="resource-title col-xs-12 no-padding">
                <h3>{{post.title}}</h3>
                <a href="{{post.url}}">
                    <div class="resource-button">
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% include pagination-resources.html event_code=page.event_code %}
</div>

<div class="col-md-3 blog-sidebar">
    {% include post-sidebar-resources.html event_code=page.event_code %}
</div>
