---
layout: default
js-package: resources-blog
css-package: resources-blog
---
<div class="container-fluid" id="content-container">
    <div class="row">
        <div class="container">
            <div class="col-md-9">
                <article class="post-content">
                    <div class="post-info">
                        <h1>{{page.title }}</h1>
                        {% if page.date %}<small class="blog-date text-center"><em>Added to  <a href="/resources/{{page.categories[0]}}/">{{page.categories[0] | upcase }} Resources</a> on <b>{{page.date |  date: "%A, %B %-d, %Y"}}</b></em></small>{% endif %}
                        {% if page.session_track %}
                            <div class="tracks">
                                {% if page.session_track contains "," %}
                                    {% assign tracks = page.session_track | split: "," %}
                                    {% for track in tracks %}
                                        <a href="/resources/tracks/#{{track}}"><span class="track">{{track}}</span></a>
                                    {% endfor %}
                                {% else %}
                                    {% unless page.session_track == "None" %}
                                        <a href="/resources/tracks/#{{page.session_track}}"><span class="track">{{page.session_track}}</span></a>
                                    {% endunless %}
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-xs-12 no-padding">
                        <div class="col-sm-6 no-padding">
                            <div class="video">
                                {% if page.youtube_video_url and page.youtube_video_url != "None" %}
                                    <div id="video-holder">
                                        <img id="video-skeleton" class="img-responsive lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{% asset_path 'video-placeholder-image.jpg' %}" />
                                        <div class="embed-responsive embed-responsive-16by9 hidden-iframe" id="video-embed">
                                            <iframe class="hidden-iframe" data-src="{{page.youtube_video_url}}" width="100%" height="500" frameborder="0" marginwidth="5"
                                                marginheight="5" scrolling="auto" id="youtube-iframe"></iframe>
                                        </div>
                                    </div>
                                {% else %}
                                    <div id="video-holder">
                                        <img id="video-skeleton" class="img-responsive lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{% asset_path 'video-placeholder-image.jpg' %}"/>
                                   </div>
                                {% endif %}
                            </div>
                            {% if page.amazon_s3_video_url page.amazon_s3_video_url != "None" and page.amazon_s3_video_url != "n/a" %}
                                <div class="s3-link">
                                    <a href="{{page.amazon_s3_video_url}}" class="btn btn-primary s3-download">Download Video</a>
                                </div>
                            {% else %}
                                <div class="s3-link">
                                    <a class="btn btn-primary greyed s3-download">Not Available</a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-sm-6 no-padding">
                            <div class="presentation">
                                {% if page.slideshare_embed_url and page.slideshare_embed_url != "None" %}
                                <div id="presentation-holder">
                                    <img id="presentation-skeleton" class="img-responsive lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
                                    data-src="{% asset_path 'presentation-placeholder.svg' %}"
                                    />
                                    <div class="embed-responsive embed-responsive-16by9 hidden-iframe" id="presentation-embed">
                                        <iframe class="hidden-iframe" data-src="{{page.slideshare_embed_url}}" width="100%" height="500" frameborder="0" marginwidth="5"
                                            marginheight="5" scrolling="auto" id="presentation-iframe"></iframe>
                                    </div>
                                </div>
                                {% else %}
                                    <div id="presentation-holder">
                                        <img id="presentation-skeleton" class="img-responsive lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                        data-src="{% asset_path 'presentation-placeholder.svg' %}" />
                                    </div>
                                {% endif %}
                            </div>
                            {% if page.amazon_s3_presentation_url and page.amazon_s3_presentation_url != "None" and page.amazon_s3_presentation_url != "n/a" %}
                                <div class="s3-link">
                                    <a href="{{page.amazon_s3_presentation_url}}" class="btn btn-primary s3-download">Download Presentation</a>
                                </div>
                            {% else %}
                                <div class="s3-link">
                                    <a class="btn btn-primary greyed s3-download">Not Available</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {{ content }}
                </article>

                {% comment %}
                    TAGS - Check to see if the tags_enabled setting in settings.yml data file is toggled.
                {% endcomment %}
                
                {% include post-tags.html %}
                
                {% comment %}
                    COMMENTS - Check to see if comments are toggled for this particular post.
                {% endcomment %}
            
                {% include post-comments.html %}
                
                </div>
                <div class="col-md-3 blog-sidebar no-padding">
                    {% assign cat = page.categories[0] %}
                    {% include post-sidebar-resources.html event_code=cat %}
                </div>
        </div>        
    </div>
</div>
