---
title: Resources
permalink: /resources/
layout: base
css-package: resources-landing-page
js-package: resources-landing-page
---
{% assign connect_data = site.data.connects | where: "id", page.event_code | first %}
{% include carousel-header.html images=connect_data.featured_images %}
{% capture connect_jumbotron_desc %}Find resources from {{connect_data.id}} here.{% endcapture %}
{% include jumbotron-resources.html title=connect_data.long-name description=connect_jumbotron_desc %}
{{content}}
<div class="row" id="content-container">
    <div class="container">
        
        <div class="col-sm-4 no-padding">
            <a href="/resources/{{page.event_code | downcase}}/sessions/">
                <div class="category-block">
                    <h3>Sessions</h3>
                </div>
            </a>
        </div>
        <div class="col-sm-4 no-padding">
            <a href="/resources/{{page.event_code | downcase}}/demos/">
                <div class="category-block">
                    <h3>Demos</h3>
                </div>
            </a>
        </div>
        <div class="col-sm-4 no-padding">
            <a href="/resources/{{page.event_code | downcase}}/interviews/">
                <div class="category-block">
                    <h3>Interviews</h3>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row content-row" id="resources-table">
    <div class="container m-t-40">
        <div id="resources-overview-table" class="double-scroll">
            <table>
                <thead>
                    <th>Session ID</th>
                    <th>Session Title</th>
                    <th>Track</th>
                    <th>Day</th>
                    <th>Speakers</th>
                    <th>Presentation (S3)</th>
                    <th>Video (S3)</th>
                    <th>Resources Page</th>
                </thead>
                <tbody>
                    {% assign event_code_lower = page.event_code | downcase %}
                    {% assign sessions = site.categories[event_code_lower] | where: 'tag', 'session' | sort: 'session_id' %}
                    {% for session in sessions %}
                    <tr data-track="{{session.session_track}}" data-session-id="{{session.session_id}}" data-day="">
                        <td>{{session.session_id}}</td>
                        <td>
                            <a href="{{session.url}}">
                                {{session.title}}
                            </a>
                        </td>
                        <td>{{session.session_track}}</td>
                        <td>{{session.session_slot.end_time | date: "%A"}}</td>
                        <td>
                            <ul>
                                {% for speaker in session.session_speakers %}
                                <li>{{speaker.speaker_name}} {% if speaker.speaker_company != "" %} /
                                    {{speaker.speaker_company}}{% endif %}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td class="presentation-link" data-session-id="{{session.session_id}}">
                            <a
                                href="https://s3.amazonaws.com/connect.linaro.org/{{event_code_lower}}/presentations/{{session.session_id | downcase }}.pdf">Presentation</a>
                        </td>
                        <td class="video-link" data-session-id="{{session.session_id}}">
                            <a
                                href="https://s3.amazonaws.com/connect.linaro.org/{{event_code_lower}}/videos/{{session.session_id | downcase }}.mp4">Video</a>
                        </td>
                        <td>
                            <a href="{{session.url}}">
                                View Resources Page
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
